[2020-07-22 00:51] MirayXS opened #3 "How to Display"
# How to Display

## How can i display <code>I'm an early 🐤</code> or <code>I'm an night 🦉</code>?

### My YAML file looks like this;

[code]

`SHOW_COMMIT` Should enable these "widgets"? If yes, it seems i don't know how to display them. Could you help me? 👍

[2020-07-22 06:16] anmol098 commented on #3
There was bug 🐛 in the code which is now resolved and I have checked your profile the commit stats are available.
TIP:- please don't run the cron job every 30 mins as it is not needed... You can run the cron every day at midnight.

[2020-07-22 06:16] #3 closed

[2020-07-22 13:43] MirayXS commented on #3
Alright! Thanks for the tip!

[2020-07-23 07:45] guilyx opened #6 "Align progress bars"
Hi,

Here's the current state of my board :

[code]

[code]

Wouldn't it be better if all progress bars were aligned both right and left ? This could be a simple fix I could look into ( it would take about a week for me to have the time to actually do it though )

[2020-07-23 07:55] anmol098 commented on #6
Thanks for highlighting the issue if you want you can look into it all suggestions are accepted. together we can make this a better Github action

[2020-07-23 09:27] guilyx commented on #6
Actually @anmol098 :

- On Ubuntu 18.04, Firefox, it's not aligned
- On Windows 10, Opera, it's aligned

Might be a non-issue

[2020-07-23 09:30] anmol098 commented on #6
@guilyx can you please share the screnshot here of un-aligned stats on Firefox.

[2020-07-23 09:50] guilyx commented on #6
![unaligned](https://user-images.githubusercontent.com/43545812/88273617-c0ee4900-ccda-11ea-9b88-128f258aee32.png)

[2020-07-23 09:51] guilyx commented on #6
Black and Grey characters aren't the same size, unsure if it's firefox or ubuntu related

[2020-07-23 12:34] anmol098 commented on #6
@guilyx I think the issue is browser specific......
Because on dry run at console every character are equal...

[2020-07-23 13:24] guilyx commented on #6
Indeed, Firefox only, you can close !

[2020-07-23 15:32] anmol098 commented on #6
@guilyx thank you very much... You suggestions and feature on this GitHub action is always welcomed

[2020-07-23 15:32] #6 closed

[2020-07-25 05:33] bhanukaManesha opened #8 "Exception occured'NoneType' object is not subscriptable"
This is my dev metrics.
<img width="646" alt="Screenshot 2020-07-25 at 13 30 16" src="https://user-images.githubusercontent.com/30364196/88449641-06497c80-ce7b-11ea-9ccc-4e95720c36ee.png">

I'm new to WakaTime. I keep getting this error when I run the action.
Is it because my WakaTime account is new. Or is it some other bug?

<img width="337" alt="Screenshot 2020-07-25 at 13 31 35" src="https://us

[2020-07-25 05:55] anmol098 commented on #8
This is because... You don't have any metrics from Waka time... Once Waka time will record the metrics it will appear here...

[2020-07-25 05:57] bhanukaManesha commented on #8
Okay. Thank you 👍
I will give it some time.

[2020-07-25 08:29] #8 closed

[2020-07-27 05:36] ouuan opened #12 "Don't show new things by default"
It is fine if something we want is not shown, but it could be bad if something we don't want to share is displayed. So I think new things shouldn't be shown by default. 64bb35f86d325a0b21ce9b1fe5f39af4a6c0e122 is an example of a new thing is shown by default.

And it is better to have "v1", "v2" branches in case of breaking changes. If you have a v1 branch, then you can show some new things by def

[2020-07-27 06:39] anmol098 commented on #12
You have a valid point but we are constantly developing and adding new metrics to the project and if we disable everything by default then there's no point to develop new things as the users currently using this GitHub action will not get to know the new features added.

That's why all features are enabled by default if you don't want stats to display you can forcefully disable the stats.

[2020-07-27 06:39] #12 closed

[2020-07-27 06:49] ouuan commented on #12
I can't do that in time if new things are enabled by default.

As for now, I've forked this repo and I'm using it in my profile.

[2020-07-27 06:53] ouuan commented on #12
Or you can have a new setting "enable features by default" with a default value "true", and other options have three states "on", "off" and "default" with default values "default".

[2020-07-27 06:56] anmol098 opened #13 "View Stats default modification"
Or you can add a new setting "enable features by default" with a default value "true", and other options have three states "on", "off" and "default" with default values "default".

_Originally posted by @ouuan in https://github.com/anmol098/waka-readme-stats/issues/12#issuecomment-664156180_

[2020-07-27 06:58] anmol098 commented on #13
@ouuan contribution are welcomed... You can contribute your points you mentioned.
And if not we will also be working on this...
Thank you for raising this to us.

[2020-07-27 13:54] ming-tsai opened #14 "Authenticating with the GITHUB_TOKEN"
We could use `GITHUB_TOKEN` as an environment variable, so the user doesn't have to generate a token when they are configuring the scheduled job, see more documentation on the official page.
- [Authenticating with the `GITHUB_TOKEN`](https://docs.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#about-the-github_token-secret)
- [Permissions for the `GITH

[2020-07-27 14:24] anmol098 commented on #14
@ming-tsai we can use this... But as far as I know that this token is valid on the repository on which action is being run only.....
But as are functionality we have many other dev metrics which require reading all repository of user to show the metrics....
PS-we are using token to get the commit timestamp and the [Statistics ](https://developer.github.com/v3/repos/statistics/) api to read the num

[2020-07-27 14:29] ming-tsai commented on #14
Ok, I thought that it has permission to read private repositories

[2020-07-27 14:29] #14 closed

[2020-07-28 13:30] TGTGamer opened #19 "Bug: File "/main.py", line 312, in <module>"
Error when running.

[code]

[2020-07-28 13:36] anmol098 commented on #19
@TGTGamer as I can see in your logs it's running fine.
It failed because its running on infinite loop. And may be its because hitting concurrent request to the github apis and it might fail due to heavy request.
Please change the yml file and change it to schedule only....

[2020-07-28 13:38] anmol098 commented on #19
@TGTGamer please see to the Pull request which I have created to your repository.

[2020-07-29 15:06] Galarzaa90 opened #21 "Add flag to show/hide daily day of the week commit stats"
I see that commit stats now include days of the week.

I think it would be nice to have a flag to hide this section (without hiding time of the day stats) and maybe the other way around.

This way, you can keep the readme's content shorter if desired, and only include the sections you want.

[2020-07-29 15:08] anmol098 commented on #21
Ok thanks for the suggestion.. Will fix that soon in next update...

[2020-07-30 15:17] anmol098 opened #22 "Tests"
We may need to write tests to check it properly for any new update.

[2020-07-30 15:22] anmol098 opened #23 "Translation"
Needed Translation of stats and hardcoded string to the language specified by the user.
and please contribute to the translation of readme also

[2020-07-31 18:38] pr2tik1 commented on #19
Traceback (most recent call last):
  File "/main.py", line 302, in <module>
    repo = g.get_repo(f"{user}/{user}")
  File "/usr/local/lib/python3.8/site-packages/github/MainClass.py", line 324, in get_repo
    headers, data = self.__requester.requestJsonAndCheck(
  File "/usr/local/lib/python3.8/site-packages/github/Requester.py", line 317, in requestJsonAndCheck
    return self.__check(
  File "

[2020-07-31 18:48] anmol098 commented on #19
@pr2tik1 did you add the github personal access token and Wakatime time to the repository secret?

[2020-07-31 19:02] pr2tik1 commented on #19
@anmol098  Yes, I did, I have checked and updated it again. However, It shows,

/usr/bin/docker run --name c201132c22c546914474b8847645b9b082e2_7653e1 --label 87c201 --workdir /github/workspace --rm -e INPUT_WAKATIME_API_KEY -e INPUT_GH_TOKEN -e INPUT_SHOW_PROJECTS -e INPUT_SHOW_LINES_OF_CODE -e INPUT_USERNAME -e INPUT_SHOW_OS -e INPUT_SHOW_EDITORS -e INPUT_SHOW_TIMEZONE -e INPUT_SHOW_COMMIT -e IN

[2020-07-31 19:07] anmol098 commented on #19
I have seen your log files on your profile it's not taking the Wakatime api key and github token to the environment vairble but it has taken the feature flags as the input... I request to please double Check the repository secret.. Or if possible please share the screnshot of the repository secret screen.....

[2020-07-31 19:27] pr2tik1 commented on #19
I have edited the secrets and now it's working, the problem was my side. My bad, thank-you!! @anmol098

[2020-08-01 06:52] #19 closed

[2020-08-01 08:52] #21 closed

[2020-08-01 11:13] anmol098 commented on #21
@Galarzaa90 #26 fixed this issue you can check

[2020-08-01 13:56] Galarzaa90 commented on #21
Very nice 💯

[2020-08-02 03:16] nasyxx opened #27 "BUG Exception Occurred Expecting value: line 1 column 1 (char 0)"
Did I set it up correctly?

The action log here: https://github.com/nasyxx/nasyxx/runs/936386840?check_suite_focus=true

And my workflow here: https://github.com/nasyxx/nasyxx/blob/master/.github/workflows/wakatime.yml

[2020-08-02 05:00] pr2tik1 opened #28 "BUG"
**Describe the bug**
The spacing between Language is uneven for the case of "Jupyter Notebook" (Github detects it as Language though it's not.)

![Screenshot from 2020-08-01 22-36-25](https://user-images.githubusercontent.com/34391513/89115871-e7ff0480-d4aa-11ea-9622-021bebf71c24.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/pr2tik1/pr2tik1
2. View the section

[2020-08-02 05:51] Corfucinas commented on #27
I got a similar error just now

https://github.com/Corfucinas/Corfucinas/runs/936907240?check_suite_focus=true

[2020-08-02 05:59] Corfucinas commented on #27
Ok, I got exactly the same error as you @nasyxx

https://github.com/Corfucinas/Corfucinas/runs/936917368

[2020-08-02 06:24] anmol098 commented on #27
hey @Corfucinas and @nasyxx can you please re-run the workflow as the exception was not very clear so I added the traceback to look more into the error......

[2020-08-02 06:33] Corfucinas commented on #27
@anmol098

Here you go

https://github.com/Corfucinas/Corfucinas/runs/936975437?check_suite_focus=true

Seems this is what's causing it

`
File "/loc.py", line 42, in run_query_v3
    return request.json()
`

[2020-08-02 06:57] anmol098 commented on #27
@Corfucinas thank you for sharing this. I am looking in to this issue and will be pushing the fix as soon as possible

[2020-08-02 07:17] Corfucinas commented on #27
@anmol098 sure thing!

Try to step-into using the debugger and see what is that object...could be an encoding problem or the `request` is returning something else.

[2020-08-02 10:20] #27 closed

[2020-08-02 10:22] anmol098 commented on #27
hey @Corfucinas and @nasyxx ... I pushed the patched which fixes the problem.
the root cause of the error was due to an empty repository in your account which was causing the program to throw an exception.
I fixed the issue you can check that...if the issue still persists feel free to open the issue again.

[2020-08-02 11:49] Corfucinas commented on #27
Great!

Ill also take a look into that, thanks for patching it

[2020-08-02 12:13] angristan opened #30 "Remove "📊 This week I spent my time on" when empty"
I'm only using `SHOW_COMMIT` so the next section is empty:

![image](https://user-images.githubusercontent.com/11699655/89122723-ff011f00-d4c9-11ea-9aaf-9335e10e4daa.png)

It would be nice to not show it when it's empty 🙂

My env is:

[code]

[2020-08-02 14:17] nasyxx commented on #27
Thanks!

[2020-08-02 15:35] anmol098 commented on #28
@pr2tik1 thank you for pointing this issue.... We will fix this soon in next update...

[2020-08-02 17:41] tzmanish opened #32 "Add||tzmanish"
**Github Profile Link**
https://github.com/tzmanish

**Your Name**
tz.man

[2020-08-03 00:18] MirayXS opened #33 "Add || MirayXS"
**Github Profile Link**
https://github.com/MirayXS

**Your Name**
MirayXS

[2020-08-03 03:48] manastalukdar opened #35 "Provide ability to remove or replace the header texts"
Please provide ability to remove or replace the header texts, such as `I mostly code in JavaScript`, `📅 I'm Most Productive on Saturdays`, etc.

[2020-08-03 04:12] anmol098 commented on #35
@manastalukdar can you please elaborate itore.. Because all these values are automatically computed and modifying the title i will have to create more flags for the same.... That will be unnecessary no one will take pain to do this...... We are thinking other way round to do this......... If you have any suggestions on how to approach you can also give your suggestions.

[2020-08-03 04:29] manastalukdar commented on #35
I imagine there is a static and a dynamic / computed part to the string. For example considering `I mostly code in JavaScript`:

- Static part: `I mostly code in `.
- Dynamic part: `JavaScript`.

My suggestion would be to provide 2 options (in decreasing order of priority):

1. Option 1: Replace title. Let user completely replace the string with something s/he would specify. So user specified full

[2020-08-03 08:01] moonrope opened #37 "BUG I think.."
**Describe the bug**
I had follow all the steps, add my secret keys, add the text in the readme, run the action, but I run manually the action, and nothing happens, the action is been run and completed but I can't see the stats.
Please help.

**To Reproduce**
Steps to reproduce the behavior:
Follow the instructions of the readme

**Expected behavior**
Show the results in my readme

**Github reposi

[2020-08-03 09:31] moonrope commented on #37
Okey I check it is not a bug, in the documentation it says that should be anmol098/waka-readme-stats@master but I tried with anmol098/waka-readme-stats@V1.1 and it works like charm, I add a pull request to change the documentation to the new version #38

[2020-08-04 04:11] MirayXS commented on #33
Oh! I just checked the README and I’m there! No need to update the name, or something else. Sorry for my useless issue 😃

[2020-08-04 04:11] #33 closed

[2020-08-04 07:57] anmol098 commented on #37
anmol098/waka-readme-stats@master
Worked for everyone.. None of issue have been raised till now.. Please recheck your action workflow file.. And give the error message is possible...

[2020-08-04 08:01] anmol098 commented on #35
I got your point.... That thing I can work on like completely removing headings....but making heading dynamic is not much of use-case... Like it will increase the user-onboarding time and that we don't want to.... We want the on-boaring to be sweet and simple...

[2020-08-04 08:03] anmol098 opened #40 "Remove title. This will complete remove the header string."
Implement the remove heading flag to remove all headings form each stats..

_Originally posted by @manastalukdar in https://github.com/anmol098/waka-readme-stats/issues/35#issuecomment-667796318_

[2020-08-04 08:04] #35 closed

[2020-08-04 13:14] Corfucinas opened #41 "TypeError: '>' not supported between instances of 'NoneType' and 'int' - BUG"
Hi,

I just came across the following bug when running the action.

https://github.com/Corfucinas/Corfucinas/runs/944933598?check_suite_focus=true

[2020-08-04 14:02] anmol098 commented on #41
@hedythedev please look into this as this thing was update by you.

[2020-08-04 16:07] anmol098 commented on #32
@tzmanish i could not add your name because you haven't setup the action workflow properly.
please also add the GitHub personal access token with repo and user permission to the workflow file please read the documentation for more info
https://github.com/anmol098/waka-readme-stats#profile-repository

[2020-08-04 16:07] #32 closed

[2020-08-04 16:13] #30 closed

[2020-08-04 16:13] #41 closed

[2020-08-04 16:14] #37 closed

[2020-08-04 16:15] anmol098 commented on #41
@Corfucinas the issue is fixed with the latest push you can check and inform the same

[2020-08-04 16:16] anmol098 commented on #30
@angristan this is fixed you can check and inform the same

[2020-08-05 03:21] Corfucinas commented on #41
@anmol098

Seems that it's working fin, cronjob just activated

[2020-08-05 05:29] tzmanish commented on #32
Is it safe to add my personal access token?

[2020-08-05 05:35] anmol098 commented on #32
@tzmanish it is safe to add the token... The token is added to the secret of the repository and is used to get only the data we require and the code is open source you can check that also.

[2020-08-05 07:53] tzmanish commented on #32
Pardon me for my lack of knowledge, but does that mean, you can't see or use my tocken and it can only be used by the script?

[2020-08-05 08:07] anmol098 commented on #32
Yes no one can see your token except you.... And the script will be able to use that during runtime

[2020-08-05 08:11] tzmanish commented on #32
Thanks a lot for clearing everything out @anmol098

[2020-08-05 09:19] tzmanish commented on #32
It's done. Now you can add my name.

[2020-08-05 09:58] tzmanish opened #42 "Is there a way to change text to third person?"
I want to write my bio in third person so is there a way to change my stats too?

Example:
This week **I** spent **my** time on **->** This week **he** spent **his** time on

[2020-08-05 12:42] leverglowh commented on #42
I guess the only way would be to fork the repo and change the hard coded strings yourself in `main.py`..

[2020-08-06 08:31] p014ri5 opened #43 "Rearrangment of individual components?"
Is there any way to rearrange the individual components in the markdown file?
e.g. : Can I move My Github data to the very bottom of markdown?

[2020-08-06 08:32] p014ri5 opened #44 "Add||<p014ri5>"
**github.com/p014ri5**
A direct link to your profile

**p014ri5**
your name which should be displayed on the link

[2020-08-06 14:48] pr2tik1 commented on #43
Much needed feature @anmol098 , would be great if given such flexibility.

[2020-08-06 20:47] anmol098 commented on #43
@pr2tik1 @p014ri5 i agree that will be great additions....
Suggestions are welcomed.... Suggest any approach ho that can be possible,??

[2020-08-07 09:24] p014ri5 commented on #43
We could get key with array as value from yaml file and pass it in function get_stats() so, while it acts as index values.... I don't have any clear idea just a foggy one but I'll try to cook something up! I'll send a PR if it's done!

[2020-08-07 14:08] ajmeese7 opened #46 "Add||ajmeese7"
**Github Profile Link**
https://github.com/ajmeese7

**Your Name**
Aaron Meese

[2020-08-08 05:45] anmol098 commented on #43
@p014ri5 sounds good... What else we can do is create a template file in the repository and define the template where to show which stats and pass that same template with data to the Readme.md... Will do more research on this..

[2020-08-08 09:29] p014ri5 commented on #43
Sound Very Cool!

[2020-08-08 12:00] #46 closed

[2020-08-08 12:00] #44 closed

[2020-08-08 17:27] orhanarifoglu opened #47 "BUG"
Hi i cannot get actions to be triggered automatically every 12:00. My repo is here. What could it be the issue? Is my github actions yml file right? Thanks.

https://github.com/orhanarifoglu/orhanarifoglu

[2020-08-08 17:28] orhanarifoglu commented on #47
Changed title

[2020-08-08 17:31] orhanarifoglu commented on #47
Changed title

[2020-08-09 08:47] anmol098 commented on #28
@pr2tik1 can you please verify this. I tried to fix this in last commit

[2020-08-09 08:48] #42 closed

[2020-08-09 09:03] anmol098 commented on #47
referenced a pull request please check and merge
[2](https://github.com/orhanarifoglu/orhanarifoglu/pull/2)

[2020-08-09 09:03] #47 closed

[2020-08-09 09:07] pr2tik1 commented on #28
Hi @anmol098 , sure, I have updated the yml file with:

[code]
also I have re-run the past job from github actions, but there is no changes shown. I have a doubt regarding job schedule, what should I set it to for testing purpose? Is rerunning the last update action correct way of testing your new update?

[2020-08-09 09:19] anmol098 commented on #28
I proposed a pull request [#1](https://github.com/pr2tik1/pr2tik1/pull/1)
now in action tab select the action name there you will get the option to trigger the action

[2020-08-09 09:29] pr2tik1 commented on #28
it works! thanks! great work! 🙌🙌🙌

[2020-08-09 09:29] #28 closed

[2020-08-09 15:09] ajmeese7 opened #49 "FEAT: commits made by bot"
**Is your feature request related to a problem? Please describe.**
With the [github-activity](https://github.com/jamesgeorge007/github-activity-readme) repo, the commits to your README are made by a GitHub bot. This means the commits aren't attributed to you, so they don't fill up your commit graph.

It would be awesome if this project could do something similar, so my chart is only populated by c

[2020-08-09 15:13] anmol098 commented on #49
@ajmeese7  As far as I understand... You want that commit made by Aur action should be on the behalf of the bot not your username?

[2020-08-09 15:15] ajmeese7 commented on #49
@anmol098 yes, exactly. I'd like the commits that show up on my commit chart to be valuable contributions I've made, so I don't have instances like this that overshadow my actual work:

![Commit Chart](https://user-images.githubusercontent.com/17814535/89735583-2fe0d700-da29-11ea-83d3-c6a0a06f740a.png)

[2020-08-09 15:34] anmol098 commented on #49
@ajmeese7 I got your point.. Since the stats which we are showing.. Basically requires the github personal access token to get that data from github api...
Ok I have accounted that... And will try to find the other way round to get over this...

[2020-08-09 17:05] Paveloom opened #50 "FEAT: Three quarters? Why so?"
I'm definitely missing something. I thought traditionally the year was divided into [four quarters](https://en.wikipedia.org/wiki/Calendar_year#Quarters), not three. So it's four months now? Is this some limitation on the API's part? Is it possible to remake it? It's a bit confusing.

[2020-08-10 13:48] anmol098 commented on #49
Pull request #51 from you fixes this issue....

[2020-08-10 13:48] #49 closed

[2020-08-10 14:36] ajmeese7 opened #53 "FEAT: Use .gitattributes when counting LoC"
**Is your feature request related to a problem? Please describe.**
The lines of code feature vastly overestimates the lines of code I have written, and it has done the same to many accounts I have seen using this repository.

The issue is that when libraries like jQuery are committed in a repo, they are considered vendored and not factored into the language percentages for a repository. According

[2020-08-11 06:47] anmol098 commented on #50
@prabhatdev please look at this and modify the changes

[2020-08-11 09:10] grigala opened #54 "Getting some sort of ApacheConf exception"
**Describe the bug**
The action fails due to the ApacheConf exception

<details>
<summary> Run anmol098/waka-readme-stats@master </summary>

[code]

</details>

[code]

**Expected behavior**
Should be running without problems, the config seems to be correct - another [version of Waka statistics](https://github.com/athul/waka-readme) works fine.

**Github repository link**
[waka-readme-detailed.yml

[2020-08-11 13:14] grigala commented on #54
Disabled `SHOW_LOC_CHART` and it works. Something must be happening during bar graph generation.

[2020-08-14 18:05] Tkd-Alex opened #55 "Add||Tkd-Alex"
**Github Profile Link**
https://github.com/Tkd-Alex/tkd-alex

**Alessandro Maggio**

[2020-08-14 18:08] Tkd-Alex commented on #23
How I can help with in this issue?

[2020-08-15 06:26] hassan11196 opened #56 "Add||hassan11196"
**Github Profile Link**
https://github.com/hassan11196

**Your Name**
Muhammad Hassan Ahmed

[2020-08-16 06:14] DanRowe1 opened #58 "Add||DanRowe1"
**Github Profile Link**
https://github.com/DanRowe1

**Your Name**
Daniel Rowe

[2020-08-16 08:17] #56 closed

[2020-08-16 08:17] #58 closed

[2020-08-16 08:17] #55 closed

[2020-08-16 13:21] anmol098 commented on #23
@Tkd-Alex you can find the `translation.json` file in the repo which can be used to translate the project to different languages. I have done for French same can be proceeded for different languages [final output can be found here](https://github.com/anmol098/anmol098/blob/master/Readme-fr.md)

It will be really helpful if you can help to translate this project into a different locale.
Hoping for

[2020-08-16 23:41] hedythedev commented on #23
I can work on chinese

[2020-08-17 08:18] Tkd-Alex opened #63 "Just a Italian grammar fix"
https://github.com/anmol098/waka-readme-stats/blob/0c8b6e5f004a19b19dadb1be6832f23294d11fc1/translation.json#L99

@anmol098
Can you please change "Sono piu' produttivo il", with **"Sono piu' produttivo di"**.
Italian grammar has many things to keep attention :smile_cat:

[2020-08-17 08:27] Tkd-Alex opened #64 "What do you think about the 'Projects''s order?"
**Is your feature request related to a problem? Please describe.**
As you can see here in the README I've only 5 project listed, and this It's ok for me.
But I work currently to other projects and I've spent more time than other project that are not listed below.

![image](https://user-images.githubusercontent.com/14061593/90374359-ab6b0580-e073-11ea-8a5a-07bcc3f61de2.png)

For example I've worked

[2020-08-17 08:32] anmol098 commented on #64
@Tkd-Alex thanks for being an active member sure you can work on this. i will also look at this

[2020-08-17 08:33] anmol098 commented on #63
ok will suerly fix this in next commit

[2020-08-17 16:24] guilyx commented on #23
I'll send some fixes for the french bits

[2020-08-17 16:26] anmol098 commented on #23
@hedythedev @Tkd-Alex thank you for translating to Chinese & Italian respectively

[2020-08-17 16:27] anmol098 commented on #23
@guilyx  contributions are most welcomed

[2020-08-17 16:39] guilyx opened #68 "Lines removals in the graph"
Hey all,

In the graph section, it takes into account the number of lines input in github repositories.

I happen to have had some quarters where I removed more lines than added, making the graph go into negatives and disrupting the display a bit.

Few options :
- count negative inputs as positive one and sum them up
- discredit entirely negative inputs
- adapt the graph for such cases

[2020-08-18 12:49] #64 closed

[2020-08-19 07:14] #63 closed

[2020-08-20 08:35] #50 closed

[2020-08-20 08:37] #68 closed

[2020-08-20 08:39] anmol098 commented on #68
@guilyx can you please verify the same as this was tried to be fixed in #72

[2020-08-20 08:43] Na93r commented on #23
I can help with Arabic

[2020-08-20 09:21] anmol098 commented on #23
@Na93r Arabic translation is merged but for that, we have to make all stats to RTL as Arabic works in RTL. [check this out](https://github.com/anmol098/anmol098)

I think this has some issues in language reading?
correct me if I am wrong

[2020-08-20 09:29] Na93r commented on #23
@anmol098 everything is correct except the shield.io
it cannot read "Profile Views" and "From Hello World I have written"
I will revert it back to English

[2020-08-22 21:43] hayat-tamboli opened #81 "Add||hayat-tamboli"
**Github Profile Link**
https://github.com/hayat-tamboli
**Your Name**
Hayat Tamboli

[2020-08-23 13:20] raman08 opened #82 "Add||<raman08>"
**Github Profile Link**
https://github.com/raman08
**Your Name**
Raman Preet Singh

[2020-08-23 22:02] aravindvnair99 opened #85 "Add||AravindVNair99"
**Github Profile Link**
https://github.com/aravindvnair99

**Your Name**
Aravind V. Nair

[2020-08-27 01:35] Ayfri opened #86 "I'm getting an 401 error on run"
**Describe the bug**
When running the workflow I get an error on the `run` step.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the workflow.
2. Get this error :
[code]

**Expected behavior**
Not getting an error and have statistics generated in the README.

**Github repository link**
https://github.com/Ayfri/Ayfri

[2020-08-27 08:28] betoma opened #88 "BUG: "This Week I Spend My Time On" stats not reflecting stats for the whole week"
**Describe the bug**
The action is running fine and updating as described. However, the "This Week I Spent My Time On" section is not reflecting the amount of time Wakatime has me as having worked for the past week -- whether you define it as the past seven days OR as the week starting with Sunday/Monday. For instance, the amount of time it claims I've worked on my "words-as-classifier" project is

[2020-08-27 15:54] anmol098 commented on #88
@betoma these values are directly fetched from the waka-time api....
These values are printed untouched as we get from the Wakatime api...
Possible issue can be the cron running time.... Because of difference in your timezone and the github server timezone.

[2020-08-27 18:40] tzmanish opened #89 "Most of the commits are in daytime/evening, still description shows night-owl."
![image](https://user-images.githubusercontent.com/20627358/91481903-cf73e580-e8c2-11ea-962a-b0cdbc3b4727.png)

[2020-08-27 19:49] anmol098 commented on #89
Ya...
Night+evening = night 🦉.
And
Morning+ daytime = morning 🐦

[2020-08-27 19:49] #89 closed

[2020-08-27 20:26] betoma commented on #88
@anmol098 yeah, after the most recent run of the action, the times are now up-to-date for the projects and languages that I didn't work on today -- it looks like it's most of my work from today that's missing. Is there a way to fix this by changing the chron time?

[2020-08-28 23:34] itsnebulalol opened #90 "[BUG] 404 Error on Start"
**Describe the bug**
The workflow spits out a 404 error on start.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the example YML to .github/workflows
2. Add a secret called WAKATIME_API_KEY to the repo.
3. Run the workflow.
4. Get the error.

**Expected behavior**
I expect the workflow to edit the readme, meanwhile it does nothing and spits out a 404 error. The workflow from athul/waka-

[2020-08-29 06:23] anmol098 commented on #90
@itsnebulalol please do add github personal access token with repo and user access to repo secrets get the stats working
Then it will not get 404 error

[2020-08-29 06:28] anmol098 commented on #88
@betoma I have seen your workflow file you are running stats at 18:30 UTC which is 00:00 IST
I saw your time zone is of Berlin
You should at cron at 22:00 UTC which will be 00:00 CEST
Or you should go for 00:00 UTC For cron choice is yours.

[2020-08-29 06:37] anmol098 commented on #86
@Ayfri did you add the github personal access token with repo and user access to the secret? Because script is not able to authenticate to github with provided token..

[2020-08-29 06:38] #54 closed

[2020-08-29 11:36] Ayfri commented on #86
Yes, I'll try with a token that have more permissions so.

[2020-08-29 14:18] itsnebulalol commented on #90
Now I'm getting a 401 error, I'm running the workflow in my profile repository, which automatically puts the secret. Do I need to put it in manually?

The error is:
[code]

[2020-08-29 16:30] itsnebulalol commented on #90
Ok, I finally got it to work, I had to manually add the token as a secret.

[2020-08-29 20:28] #90 closed

[2020-08-29 20:30] #86 closed

[2020-08-29 20:30] #88 closed

[2020-08-31 09:04] marcizhu opened #91 "BUG: Query failed to run by returning code of 202"
**Describe the bug**
I randomly get that message on some runs when I try to update my readme. When that happens, the amount of lines coded is not correct, so I need to manually re-run it and hope it doesn't fail once again.

**To Reproduce**
There's nothing I can do to reproduce it. As I said, it seems random. For example [this](https://github.com/marcizhu/marcizhu/runs/1050189251?check_suite_focu

[2020-08-31 09:56] eagleanurag opened #92 "Add||<eagleanurag>"
**Github Profile Link**
https://github.com/eagleanurag

**Your Name**
eagleanurag

[2020-08-31 11:51] tzmanish commented on #89
Okay thanks
btw, what are the timeframes for morning, daytime, evening and night?

[2020-08-31 11:56] anmol098 commented on #89
@tzmanish

morning is 6 - 12
    daytime is 12 - 18
    evening is 18 - 24
    night is 0 - 6

[2020-08-31 14:51] #81 closed

[2020-08-31 14:53] #92 closed

[2020-08-31 14:54] #85 closed

[2020-08-31 14:54] #82 closed

[2020-08-31 14:56] anmol098 commented on #91
@marcizhu I am aware of this issue ...this is because sometimes the Github API fails to respond. due to consecutive API calls. or sometimes the GitHub repo is empty.
not able to find out the solution to this.

[2020-09-01 17:33] marcizhu commented on #91
I'm unable to find a solution for this either. If I discover something, I'll let you know :D

[2020-09-04 21:42] gusbdev opened #94 "Add||gusbdev"
**Github Profile Link**
https://github.com/gusbdev

**Your Name**
Gustavo Barbosa

[2020-09-04 22:59] korelkashri opened #95 "Add||korelkashri"
**Github Profile Link**
https://github.com/korelkashri

**Your Name**
Korel Kashri

[2020-09-05 16:54] matfax opened #96 "feat: accept inclusion of organization accounts"
**Is your feature request related to a problem? Please describe.**
Currently, this action doesn't include organization accounts. Only personal repositories seem to be tracked. This can make a big difference in the stats.

**Describe the solution you'd like**
An additional input could be added to the `action.yml` that is passed to the `LinesOfCode` class.

**Additional context**
[Here](https://medi

[2020-09-06 12:09] anmol098 commented on #96
@matfax this can be a nice addition but there is a catch until the organization gives permission to access their data we cannot do anything and no organization will allow some-one to access their repos other than the member of the organization

[2020-09-06 13:34] edgycoder opened #97 "Add||edgycoder"
**Github Profile Link**
https://github.com/edgycoder

**Your Name**
\> EdgyCoder ✌

Edit: I figured out that escaping it with a backslash also works and even works better!
So a code-block was not needed

[2020-09-07 11:04] Dev-Mehta opened #98 "Add||Dev-Mehta"
**Github Profile Link**
https://github.com/Dev-Mehta/

**Username**
Dev-Mehta

[2020-09-10 07:05] JimmyZhangJW opened #99 "BUG The waka data is not updating"
**Describe the bug**
The waka time info is not updated. My action runner runs the script every hour and it is expected to be updated.
![image](https://user-images.githubusercontent.com/14946693/92692278-c50d0f00-f2f8-11ea-82ba-94a4b4009c62.png)

![image](https://user-images.githubusercontent.com/14946693/92692345-deae5680-f2f8-11ea-8677-82139edee8d7.png)

**This is my yml file**
[code]

[2020-09-10 15:08] ccweerasinghe1994 opened #100 "Weekly summery is not working for me"
**Weekly summary is not working**

this is my repo
https://github.com/ccweerasinghe1994

this is the workflow
https://github.com/ccweerasinghe1994/ccweerasinghe1994/blob/master/.github/workflows/blank.yml

![image](https://user-images.githubusercontent.com/40600690/92751069-4ae69400-f3a5-11ea-9b0a-028c7ac9aa14.png)

[2020-09-11 00:20] siddg97 opened #101 "Add||siddg97"
**Github Profile Link**
https://github.com/siddg97

**Your Name**
Siddharth Gupta

[2020-09-11 07:30] anmol098 commented on #100
I can see they are working for you now

[2020-09-11 07:30] #100 closed

[2020-09-11 07:32] anmol098 commented on #99
@JimmyZhangJW regarding this issue we can not help..
Because waka-time api has limitations the data in api are updated at the end of day only....
If you run cron every hour it's of no use... The data will be same everytime

[2020-09-11 07:32] #99 closed

[2020-09-11 07:32] #96 closed

[2020-09-11 07:33] #91 closed

[2020-09-12 13:20] c2v4 opened #102 "Exception while processing a repository with SCSS files"
**Describe the bug**
Cannot process the repository with SCSS files used

**To Reproduce**
Steps to reproduce the behavior:
1. Have a project with SCSS files
2. Take a look at the processing logs

**Expected behavior**
Stats are being populated correctly

**Github repository link**
https://github.com/c2v4/c2v4

**Additional context**
Stacktrace:
`Traceback (most recent call last):
  File "/main.py"

[2020-09-12 13:28] c2v4 commented on #102
Can be solved temporarily by adding SCSS:
https://github.com/anmol098/waka-readme-stats/pull/103

[2020-09-12 14:51] #102 closed

[2020-09-16 02:23] JimmyZhangJW commented on #99
Thanks!

[2020-09-20 08:09] #95 closed

[2020-09-20 08:09] #97 closed

[2020-09-20 08:09] #98 closed

[2020-09-20 08:09] #101 closed

[2020-09-20 08:09] #94 closed

[2020-09-24 03:03] deborahbpc commented on #23
I could help with brazilian portuguese, if you need it

[2020-09-24 21:20] buster95 opened #105 "BUG I'm having problems"
**Describe the bug**
stats not committed
![image](https://user-images.githubusercontent.com/15637669/94201479-4926d100-fe79-11ea-96df-dde1350a6b95.png)

**To Reproduce**
This is my yml file
https://github.com/buster95/buster95/blob/master/.github/workflows/update.yml

**Github repository link**
https://github.com/buster95/buster95

[2020-09-26 03:18] wopox1337 opened #106 "npm WARN vega-lite - You must install peer dependencies yourself."
**Describe the bug**
Stats can't update.

**To Reproduce**
https://github.com/wopox1337/wopox1337/runs/1168933551?check_suite_focus=true

**Github repository link**
https://github.com/wopox1337/wopox1337/

![image](https://user-images.githubusercontent.com/18553678/94328995-f277df00-ffbf-11ea-8925-5cee8ec0b37e.png)

[2020-09-26 16:17] kinduff commented on #105
Did you add the required permissions for the `GH_TOKEN`?

[2020-09-27 00:15] buster95 commented on #105
Sorry, that was the problem I needed full repo access

[2020-09-27 00:15] #105 closed

[2020-09-27 12:56] wopox1337 commented on #106
@anmol098 ?

[2020-09-28 07:16] anmol098 commented on #106
@wopox1337 working on this in the mean time you cna set the chart flag to false.. Then it will work as expected..

[2020-09-29 04:40] AlphaKennyBudy opened #107 "BUG: It doesn't make commits"
**Describe the bug**
Action is running but there is no commit

**To Reproduce**
I don't know, everything worked till recent 5 days.

**Expected behavior**
Commit with updated waka stats

**Github repository link**
https://github.com/AlphaKennyBudy/AlphaKennyBudy/

**Additional context**
[code]

[2020-09-29 23:54] itsnebulalol commented on #107
Yeah, the same thing is happening to me.

[2020-09-29 23:58] JCalaunan opened #108 "BUG Action Passes, no readme stats (not in PATH env variable)"
**Describe the bug**
Action runs with no failure notifications.
No readme stats added to my readme.me
See code below.

**To Reproduce**
1. Added readme.md with:
[code]
2. Setup Wakatime account, get API key
3. Create Github API key, enable repo and user
4. Github secrets:
[code]

See my [yml](https://github.com/JCalaunan/JCalaunan/blob/master/.github/workflows/update-readme.yml)
[code]

**Expected

[2020-09-30 14:41] itsnebulalol commented on #108
Bump; this happens to me too

[2020-09-30 19:48] anmol098 commented on #108
Yes we are aware of this... Working in this... Please don't use LOC chart after that you can be able to use the library

[2020-10-01 05:09] JCalaunan commented on #108
Awesome got it working. Please let us know when Loc is usable.
Cheers man!

[2020-10-01 05:09] #108 closed

[2020-10-01 07:50] wopox1337 commented on #106
Thanks, but now works fine
https://github.com/wopox1337/wopox1337

Should be closed.

[2020-10-01 07:51] #106 closed

[2020-10-01 19:19] itsnebulalol commented on #107
Duplicate of #108

[2020-10-04 03:21] andre-fajar-n opened #109 "Ask about error in my readme"
![image](https://user-images.githubusercontent.com/62334317/95006138-2fc91600-062b-11eb-95b6-3eb1cd248fab.png)
I used waka-readme-stats but occured an error like that. What should I do to solve that? Thank you

[2020-10-04 04:28] anmol098 commented on #109
We are. Having issue with graphs library please disable that library to make that work.

[2020-10-04 04:33] anmol098 commented on #109
The bug is fixed can you check now

[2020-10-04 04:34] anmol098 commented on #107
@itsnebulalol @AlphaKennyBudy this seems to be fixed can you check and report if there is any error again.

[2020-10-04 04:42] andre-fajar-n commented on #109
It still error

[2020-10-04 13:47] itsnebulalol commented on #107
It is a duplicate issue, I just don't have the permission to close it.

[2020-10-04 17:18] AlphaKennyBudy commented on #107
Yeah, it seems working for me. Btw, is it possible to make dev metrics update every hour?

[2020-10-04 17:18] #107 closed

[2020-10-04 17:24] itsnebulalol commented on #107
WakaTime only updates the API every day, so changing the CRON schedule on the workflow to 1 hour, will result in the console printing `No data has need changed`.

[2020-10-05 10:20] rubyruins opened #110 "Waka Readme stats not showing up"
**Describe the bug**
I tried adding the README stats with the following .yml file:
![image](https://user-images.githubusercontent.com/50259869/95067259-2f12ab80-0721-11eb-8cd6-e61c41a25355.png)

It shows that the workflow run is successful but I noticed the following errors in the last step:
![image](https://user-images.githubusercontent.com/50259869/95068007-49995480-0722-11eb-9fd0-f3a9b63d271d.p

[2020-10-06 20:24] #110 closed

[2020-10-07 04:01] anf36 opened #111 "BUG when github action running"
When github action running for waka Readme update in my github, error occurs in build stage

`ERROR: Could not find a version that satisfies the requirement opencv-python==4.2.0.34 (from -r requirements.txt (line 28)) (from versions: 3.4.10.37, 3.4.11.39, 3.4.11.41, 3.4.11.43, 4.3.0.38, 4.4.0.40, 4.4.0.42, 4.4.0.44)
  ERROR: No matching distribution found for opencv-python==4.2.0.34 (from -r requi

[2020-10-08 03:27] #111 closed

[2020-10-08 12:54] matfax opened #113 "bug: build fails due to requirements"
**Describe the bug**
`ERROR: Could not find a version that satisfies the requirement opencv-python==4.2.0.34 (from -r requirements.txt (line 28)) (from versions: 3.4.10.37, 3.4.11.39, 3.4.11.41, 3.4.11.43, 4.3.0.38, 4.4.0.40, 4.4.0.42, 4.4.0.44)`

This happens during Dockerfile step 8:
`Step 8/12 : RUN pip install -r requirements.txt`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a

[2020-10-08 15:58] #113 closed

[2020-10-09 11:24] henryboisdequin opened #115 "Not Working in my Readme"
I made my GitHub secrets, .github/workflows/.yml file, the comments, and I still don't have waka readme stats. I love the concept and I would love it to be on my GitHub profile readme. Thanks in advance for your help.

[2020-10-10 01:09] #115 closed

[2020-10-12 01:39] coffeeCoder69 opened #116 "Add||<coffeeCoder69>"
**Github Profile Link**
https://github.com/coffeeCoder69

**Your Name**
Shuvam Mandal

[2020-10-12 07:07] TheKeyblader opened #118 "Doesn't work with main branch"
**Describe the bug**
https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/
Doesn't work with the new default branch "main"
**Github repository link**
https://github.com/TheKeyblader/TheKeyblader
![](https://i.gyazo.com/65af30fac48d6b6118205a806d06c4d9.png)

[2020-10-14 20:53] #109 closed

[2020-10-14 20:55] anmol098 commented on #118
Thanks @TheKeyblader for. Pointimg out the... I am working on it and will deploy the fix soon.

[2020-10-14 20:56] anmol098 commented on #116
Cannot add because you are not using github action

[2020-10-14 20:56] #116 closed

[2020-10-15 14:02] TJMusiitwa opened #120 "BUG: This workflow constantly fails to run"
**Describe the bug**
The workflow has been set up as specified in the repo-readme. However, it takes a very long time to run and even after it has attempted to run, it produces an the following error; and this is having used the latest version of the Github Action.

**Expected behavior**
It would need to run and install all necessary dependencies then complete the workflow.

**Github repository li

[2020-10-15 21:13] anmol098 commented on #118
#119

[2020-10-16 01:55] henryboisdequin opened #121 "Add||Henry Boisdequin"
**Github Profile Link**
[https://github.com/henryboisdequin/](https://github.com/henryboisdequin/)

**Your Name**
Henry Boisdequin

[2020-10-16 10:01] TheKeyblader commented on #118
Work!
Thx

[2020-10-16 10:01] #118 closed

[2020-10-16 19:54] ZhixuNi opened #122 "Chart not found due to main branch used instead of master"
**Describe the bug**
When the main branch is used by default, the bar_graph.png is generated but will not show in the profile readme.md.
looks like here:
<img src="https://github.com/{user_name}/{user_name}/raw/master/charts/bar_graph.png" alt="Chart not found" style="max-width:100%;">
The automatically generated element is as below:
`
<img src="https://github.com/{user_name}/{user_name}/raw/maste

[2020-10-19 15:02] TJMusiitwa commented on #120
Hey Thanks. Got it working with that last tweak. The marketplace option to use latest version still shows **@v3**, if you could possibly fix that should help more people not end up in my similar situation.

[2020-10-19 15:02] #120 closed

[2020-10-26 14:32] betoma opened #124 "Bar chart showing old time for projects with custom rules"
**Describe the bug**
When a custom rule is used on WakaTime to move files from project A to project B, the time worked on those files as project A is never removed from the bar chart in the readme, despite the time worked on those files moving to project B within wakatime. To make matters worse, this time appears to not roll over from week-to-week after this happens, meaning it's basically permane

[2020-10-30 18:21] wulei opened #127 "BUG loc added must not be written 1.3million lines"
i am new coder, must not be written so many lines
loc added maybe not add 1.3million

[2020-11-03 22:15] edgycoder opened #128 "BUG | Action keeps failing on Python requirements"
**Describe the bug**
`ERROR: Could not find a version that satisfies the requirement opencv-python==4.2.0.34 (from -r requirements.txt (line 28)) (from versions: 3.4.10.37, 3.4.11.39, 3.4.11.41, 3.4.11.43, 3.4.11.45, 4.3.0.38, 4.4.0.40, 4.4.0.42, 4.4.0.44, 4.4.0.46)`

I've got this error now since 28 days, and after all these email about a failing action.
I decided to make a bug report here.

**Ex

[2020-11-04 08:28] #128 closed

[2020-11-09 15:00] raman08 opened #129 "Add||Raman Preet Singh"
**Github Profile Link**
https://github.com/raman08

**Your Name**
Raman Preet Singh

[2020-11-16 09:41] betoma commented on #124
Update: tried manually removing this 41 minutes from my readme just in case that fixed the issue, but it popped back up the next day. Not surprising, I guess, since that was factoring into the percentages shown for other tasks. Attached is a picture of my projects on Wakatime itself, indicating that the "code" project is no longer present within Wakatime. The only evidence I can find of it is in m

[2020-11-22 18:06] subhalingamd opened #131 "Timeline Chart does not appear when viewed from Github Pages"
**Describe the bug**
When Github Pages is activated and `README.md` is viewed from the personal website (e.g. `username.github.io/username/`), the timeline chart does not load.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://subhalingamd.github.io/subhalingamd/
2. Scroll down to *Timeline*
4. See the error (image does not load)

**Expected behavior**
The Timeline Chart should l

[2020-11-22 18:10] subhalingamd commented on #131
Changing the image URL from https://github.com/subhalingamd/subhalingamd/blob/master/charts/bar_graph.png to https://raw.githubusercontent.com/subhalingamd/subhalingamd/master/charts/bar_graph.png seems to fix the issue.

[2020-11-22 18:11] anmol098 commented on #131
Ya it should fix the issue... Go ahead and open a PR
With the fix.. If it's a fix.. The. Will definitely merge that... 👍

[2020-11-22 18:15] anmol098 commented on #124
We are touching the data given to us by Waka time... We are using only tha data given by the Wakatime apis.
I hope this makes sense... You can go through the api documentation of Waka time.. If you find we are having some bug.. Go ahead and raise a PR with a fix

[2020-11-23 03:46] subhalingamd commented on #131
![Screenshot 2020-11-23 at 09 14 27](https://user-images.githubusercontent.com/48081462/99927727-6dfdce80-2d6c-11eb-8263-c9eccb8c9aeb.png)

[2020-11-23 18:58] betoma commented on #124
I double-checked the code and ran the API call manually, and this does seem to be a problem on wakatime's end rather than with this action, so I'm closing this issue!

[2020-11-23 18:58] #124 closed

[2020-11-24 16:15] anmol098 commented on #131
#132 #132

[2020-11-24 16:15] #131 closed

[2020-11-24 16:19] #129 closed

[2020-11-26 16:12] #121 closed

[2020-11-30 01:48] dantehemerson commented on #23
I will work on es translations.

[2020-12-02 00:52] henryboisdequin opened #135 "BUG - Waka Readme Stats GitHub Action Failed"
**Describe the bug**
The action failed and didn't update my readme.

**To Reproduce**
Steps to reproduce the behaviour:
It should happen to everyone who uses waka readme stats if it's just my problem, you could copy my workflow .yml file and try it: https://github.com/henryboisdequin/henryboisdequin.

**Expected behaviour**
I expected the action to be performed successfully.

**Additional context*

[2020-12-03 16:14] tlatkdgus1 commented on #23
I will work on korean translations.

but have some problem, The order of sentences in English and Korean is different.
Therefore, we are going to write transfer.json to enable the use of format string.

[2020-12-05 20:57] anmol098 commented on #135
Just saw your profile the last action run was successful and the readme was updated as expected

[2020-12-05 20:57] #135 closed

[2020-12-12 20:53] brignano opened #138 "BUG - Number of private repositories not rendering as expected"
**Describe the bug**
The number of private repositories is not rendering as expected.

 **🐱 My Github Data**

22 Private Repository

**To Reproduce**
Steps to reproduce the behavior _(what I did)_:
1. I originally had 2 private repositories (which I forgot about)
2. I generated an initial `readme` report using this repository

3. I updated the visibility of these repositories to be public
4. I re-

[2020-12-13 03:32] iamgrodrigues commented on #23
I just add a translation to Brazilian Portuguese of your readme, and I also corrected some miss translation on the pt-BR section of the .json

[2020-12-15 09:27] nakshatrasinghh opened #142 "Feature Request"
Hi! Is it possible to add language embeddable charts alongside with loc bar chart?

![image](https://user-images.githubusercontent.com/53419293/102196248-a4e78000-3ee5-11eb-9d31-756bbe055e6d.png)

[2020-12-15 09:34] anmol098 commented on #142
Yes it is possible you can a raise a PR for that...we will be looking to that also.

[2020-12-16 16:02] #138 closed

[2020-12-20 06:38] #127 closed

[2020-12-20 09:24] aaditkamat opened #145 "Add|| aaditkamat"
**Github Profile Link**
https://github.com/aaditkamat

**Your Name**
Aadit Kamat

[2020-12-21 12:46] LewisTehMinerz opened #147 "Chart does not render past 2017."
**Describe the bug**
The chart on my profile does not render past Q4 2017. Previously the chart was working fine and it rendered up to 2020.

**Expected behavior**
The chart renders all timeline data like it used to before.

**Github repository link**
https://github.com/LewisTehMinerz/LewisTehMinerz

[2020-12-22 23:08] manueldevjour opened #148 "BUG"
I can't get my stats on my README.

I'm getting this error everytime I run the workflow ->
![image](https://user-images.githubusercontent.com/18089789/102941402-eca47380-44b2-11eb-8681-f21011f82f47.png)

[2020-12-23 16:44] #147 closed

[2020-12-25 12:22] enkr1 opened #149 "Add||enkr1"
[enkr1](https://github.com/enkr1)

Hi all,

This is more like a question than "special mention".
I have followed all the steps in README but i could not see it in my profile.
I need some help (like how to debug) as i am not very familiar with this as well.

[2020-12-25 15:10] #149 closed

[2020-12-25 18:53] subhalingamd opened #150 "Add||<subhalingamd>"
**Github Profile Link**
https://github.com/subhalingamd

**Your Name**
Subhalingam D

[2020-12-27 06:06] alexzvn opened #152 "Can't install dependency python when build dockerfile"
Currently i use version `anmol098/waka-readme-stats@V3` hit this error when build dockerfile
![image](https://user-images.githubusercontent.com/41188285/103164943-0a236580-4844-11eb-9784-3b772590bf46.png)

[2020-12-27 06:27] alexzvn commented on #152
After I switch to master branch it's solved then hit another error #148

[2020-12-27 06:27] #152 closed

[2020-12-29 06:01] aaditkamat opened #154 "Remove redundant requirements.txt file"
Currently, the project already has a `Pipfile` along with a `Pipfile.lock`. I would suggest installing `pipenv` even inside the Docker container and moving all the dependencies from the `requirements.txt` file to the `Pipfile`, so that there's only one source for all the dependencies.

[2021-01-02 01:02] felixschndr opened #156 "BUG: The flag "show_projects" doesn't work properly"
**Describe the bug**
When setting the flag `SHOW_PROJECTS` to `False` the README gets only partial updates as seen below:
![image](https://user-images.githubusercontent.com/45742226/103448758-3bfe5700-4c9e-11eb-8a58-bdecf02a9c0a.png)

-------
**To Reproduce**
Use the workflow provided below

----------
**Expected behavior**
Don't show the ` This Week I Spent My Time On` section at all

-----------

[2021-01-02 11:01] aaditkamat opened #157 "FEAT"
**Is your feature request related to a problem? Please describe.**
My GitHub README was clutter because of the different features I had included and so I rewrote it using HTML so that I could include each of the different sections under the respective `<details>`  tag so that the sections can be opened and closed on demand. However, [Markdown does not render properly within HTML]() and so the curr

[2021-01-03 10:50] sgalasso42 opened #159 "FEAT - Fields options"
**Suggestion**
Hello, I could be nice to be able to show or hide fields of rows (time, progress bar, percentage...).

**Example**
[code]

[2021-01-03 12:46] haydarKarkin commented on #23
I've opened a PR for Turkish translations. #160

[2021-01-11 01:01] aravindvnair99 opened #161 "Unauthorised and forceful star"
Hey @anmol098!

Just wanted to point out something and discuss it...

Although I appreciate your efforts and time, I don't think it's right to simply star this repository using the code. Either leave it to your userbase to star if they wish to which definitely people will if they are interested, else, the least you can do is mention in the README that you are doing this so that users are aware you

[2021-01-16 07:22] aaditkamat commented on #161
+1 @aravindvnair99! @anmol098, since you've already mentioned in the README to leave a star if users like the project, I think we should remove the function that does it automatically from the GitHub API.

[2021-01-16 08:12] #148 closed

[2021-01-16 08:14] #122 closed

[2021-01-16 08:17] #161 closed

[2021-01-16 08:26] #145 closed

[2021-01-16 12:50] #150 closed

[2021-01-19 17:28] IronicNinja opened #163 "Profile Views Not Working"
**Describe the bug**
On my profile, my profile views appears as 0, even though there's no way that's the case. Just a week ago, my profile views was around 170-180, dropped to around 18 in subsequent days, and now is at 0.
![image](https://user-images.githubusercontent.com/37968721/105070759-bde9d080-5a51-11eb-9591-2acf60e95acb.png)

**To Reproduce**
For reference, here's my profile repo: https://

[2021-01-23 12:52] subhalingamd commented on #163
According to line 89 in [main.py](https://github.com/anmol098/waka-readme-stats/blob/1431621a825acf6d266f1db27ccafcf8bfb6e89d/main.py), the Profile View badge shows the traffic for **each week**

[2021-01-23 14:01] IronicNinja commented on #163
Oh ok thank you. Is there a way to change that from profile views per week to something like per year?

[2021-01-23 17:14] subhalingamd commented on #163
According to [this](https://docs.github.com/en/rest/reference/repos#traffic) doc, **`per`** must be one of: `day`, `week`. So I guess `year` is not possible from the API.

However, you might find [this](https://visitor-badge.laobi.icu) one helpful.

[2021-01-24 10:02] faatehsultan opened #164 "Docker Build Failed due to OpenCv-Python 4.2"
Workflow fails every time due to some error.

Please see the [workflow here](https://github.com/faatehsultan/faatehsultan/runs/1756731041) and resolve this

thank you

[2021-01-27 05:25] IronicNinja commented on #163
Got it, thank you so much.

[2021-01-27 05:25] #163 closed

[2021-01-27 07:45] jobyid opened #165 "BUG"
**Describe the bug**
Add false to various components is not removing them. When I add
SHOW_LOC_CHART: "False"
SHOW_SHORT_INFO: "False"
to my workflow they still appear in the readme file.
**To Reproduce**
I use the following workflow
[code]
**Expected behavior**
Short info and timeline graph to not appear in the readme

**Github repository link**
https://github.com/jobyid

[2021-01-27 07:46] jobyid commented on #165
Ok so I fixed this by deleting the work flow and adding a new workflow

[2021-01-27 17:27] #165 closed

[2021-02-15 16:54] Trysupe commented on #30
@angristan did the commit from @anmol098 on 04 Aug 2020 fix it for you? I have the same [issue](https://github.com/anmol098/waka-readme-stats/issues/156).

[2021-02-16 18:12] angristan commented on #30
@Trysupe I don't use this anymore, sorry!

[2021-02-23 16:15] bin-umar opened #166 "BUG"
**Describe the bug**
There is empty heading when will turn off some FLAGS

**To Reproduce**
Steps to reproduce the behavior:
Config:
[code]
![image](https://user-images.githubusercontent.com/15624993/108872411-33c1f880-760b-11eb-9d72-c91dc1d6def1.png)

**Expected behavior**
Empty heading should not be showen

**Github repository link**
https://github.com/bin-umar/bin-umar

[2021-02-23 16:17] bin-umar commented on #156
The same issue is in my profile

[2021-02-26 10:35] rust-am commented on #23
Hi! I can help with Russian.

[2021-02-27 19:24] deadshot674gam opened #167 "vega file not found!!!"
(not in PATH env variable)
internal/modules/cjs/loader.js:818
  throw err;
  ^

Error: Cannot find module 'vega'

This is the error i am getting.

[2021-03-01 05:46] deadshot674gam commented on #167
I have solved it and created a pull request.

[2021-03-01 05:46] #167 closed

[2021-03-03 07:34] LukeSamkharadze opened #169 "BUG: README.md is not updated"
**Describe the bug**
Does not update `README.md`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **'`Readme.md` actions'**
2. Click on **'Run manually'**
3. See error **'`Readme.md` is not updated'**

**Expected behavior**
`Readme.md` should update on workflow run

**Github repository link**
[My profile repo](https://github.com/LukeSamkharadze/LukeSamkharadze)

**Additional context**
T

[2021-03-03 07:47] LukeSamkharadze commented on #169
This has been sovled in #167, just needs to be merged

[2021-03-04 19:04] peterlogo commented on #169
@LukeSamkharadze that's great.
I am also experiencing the same issue.

[2021-03-04 19:13] LukeSamkharadze commented on #169
@peterlogo Yea, meanwhile its fixed you can edit your `uses` to this and it will work fine

[code]

[2021-03-04 19:15] peterlogo commented on #169
Ok thank you @LukeSamkharadze

[2021-03-05 04:13] anmol098 commented on #169
@LukeSamkharadze thanks for the fix. This gas been merged.
@peterlogo you can now use original branch

[2021-03-05 04:13] #169 closed

[2021-03-05 18:41] einjunge99 opened #170 "Add||einjunge99"
**Github Profile Link**
https://github.com/einjunge99

**Your Name**
Isaac Maldonado

[2021-03-07 20:47] aravindvnair99 opened #171 "Missing EJS key"
[code]

[2021-03-09 14:38] sunnydanu opened #173 "BUG: Exception Occurred No objects to concatenate:"
**Describe the bug**
Failed to update readme with exception " Exception Occurred No objects to concatenate

**To Reproduce**
Steps to reproduce the behavior:
1. Go to update_state.yml
2. don't set SHOW_LOC_CHART [which is true by default]
3. run workflow
4. See error

![image](https://user-images.githubusercontent.com/48156739/110486938-20d31c00-8113-11eb-9b08-5fb52e6ac1e1.png)

**Expected behavio

[2021-03-10 14:42] #171 closed

[2021-03-10 21:50] aravindvnair99 opened #174 "BUG: Missing peer dependency and (not in PATH env variable)"
Incorrect PR for `npm WARN vega-lite@5.0.0 requires a peer of vega@^5.19.1 but none is installed. You must install peer dependencies yourself.` at https://github.com/anmol098/waka-readme-stats/pull/168#pullrequestreview-609197614

[2021-03-10 22:12] aravindvnair99 commented on #173
@sunnydanu Can you provide the link to your failed action run?

[2021-03-11 00:47] sunnydanu commented on #173
Hi, @anmol098  here is the link [](https://github.com/sunnydanu/sunnydanu/runs/2079129091?check_suite_focus=true)

[2021-03-11 08:52] aravindvnair99 commented on #173
Hey @sunnydanu ! I'm not @anmol098... But anyways, can you retry because for me it works without specifying `SHOW_LOC_CHART`.

[2021-03-11 13:06] sunnydanu commented on #173
Hey @aravindvnair99 sorry my bad..  about workflow still not working. Do i need premium plan  at waka ? . My waka dashboard has all the changes but not updating readme . Still showing. 0 line of code . And  that exceptional is still here

[2021-03-11 15:15] sunnydanu commented on #173
my waka dashboard
![image](https://user-images.githubusercontent.com/48156739/110809218-b2c15d00-82aa-11eb-939f-3e00c42b053a.png)

[2021-03-11 15:19] aravindvnair99 commented on #173
@sunnydanu No, you don't need a premium account. The free one will do. Have you added the Wakatime API key to your repo?

Like this:

![image](https://user-images.githubusercontent.com/22199259/110809745-32e7c280-82ab-11eb-837f-ffee7caad886.png)

[2021-03-11 15:20] aravindvnair99 commented on #173
@sunnydanu Can you share a screenshot of https://github.com/sunnydanu/sunnydanu/settings/secrets/actions?

[2021-03-11 16:18] sunnydanu commented on #173
![image](https://user-images.githubusercontent.com/48156739/110818733-8cec8600-82b3-11eb-8ea1-3b5e0f1455c3.png)

[2021-03-11 16:21] aravindvnair99 commented on #173
@sunnydanu you sure you have entered your API key correctly? Can you re-enter and check if the issue still exists?

[2021-03-11 16:42] sunnydanu commented on #173
@aravindvnair99  updates. still having same issue.

[2021-03-11 20:24] aravindvnair99 commented on #173
@sunnydanu Go to https://github.com/settings/tokens, select the token you made and attach the screenshot here of what options are ticked there.

[2021-03-11 23:48] sunnydanu commented on #173
@aravindvnair99
![image](https://user-images.githubusercontent.com/48156739/110870386-55e99500-82f2-11eb-860e-ebc8563eb4d6.png)

[2021-03-12 01:55] #174 closed

[2021-03-12 16:24] sunnydanu commented on #173
is anyone looking this ..? I really need to keep this work .

[2021-03-12 17:14] sunnydanu commented on #173
Hey @aravindvnair99  I found a reason . behind this unexpected behavior . the reason was I don't have any public repo over here which I owned. so as I push one public repo. it worked,  so that was the issue .

But still it's should not break the flow. rather then skip .. you guys know better how to that in python.

[2021-03-13 17:46] aravindvnair99 commented on #173
@sunnydanu Ah nice catch! But that's not the reason. You do have public repositories. It didn't work because the languages used couldn't be identified. The only public repository you had contributed to was https://github.com/sunnydanu/sunnydanu which is just text files. Whereas when you added some JavaScript code, it started working:

![image](https://user-images.githubusercontent.com/22199259/111

[2021-03-14 05:12] sunnydanu commented on #173
@anmol098  ahh. Now things getting clear to me. I had few public repos earlier when I first use waka-state so it worked.  after that I deleted my repos. and got stucked.... LOL took me while to figure out .. So I post it here.
Thanks for your updates though I have one question. my line of code is show 3. But my nodejs-demo has more then 3 words. [https://github.com/sunnydanu/nodejs-demo/commits/ma

[2021-03-14 14:57] tejasag opened #177 "Profile views not showing up properly"
**Describe the bug**
I have the profile views enabled but the tag does not show up properly because of it being directly under an HTML tag inside a details tag (the starting comment) in the markdown file.

![image](https://user-images.githubusercontent.com/67542663/111072950-cf57d200-8502-11eb-9adc-bdb49c778098.png)

**Expected behavior**
It should add the stats leaving one line after the start co

[2021-03-14 19:36] aravindvnair99 commented on #173
@sunnydanu Refer these:

- https://github.com/anmol098/waka-readme-stats/blob/fda9fd3bb5626c4ac4632fd23a1d5349f67ff500/main.py#L438-L441
- https://github.com/anmol098/waka-readme-stats/blob/fda9fd3bb5626c4ac4632fd23a1d5349f67ff500/main.py#L385-L390
- https://github.com/anmol098/waka-readme-stats/blob/fda9fd3bb5626c4ac4632fd23a1d5349f67ff500/loc.py#L1-L106

[2021-03-22 07:19] deadshot674gam opened #182 "BUG: KeyError: 'Handlebars'"
Traceback (most recent call last):
deadshot674gam
  File "/main.py", line 498, in <module>
Please add new github personal access token with user permission
    waka_stats = get_stats(g)
  File "/main.py", line 455, in get_stats
    loc.plotLoc(yearly_data)
  File "/loc.py", line 36, in plotLoc
    graph.build_graph()
  File "/make_bar_graph.py", line 43, in build_graph
    if colors[language]['col

[2021-03-22 07:27] deadshot674gam commented on #182
Solved it in the colors.json file

[2021-03-22 07:27] #182 closed

[2021-03-22 12:55] weeebdev opened #185 "Add||weeebdev"
**Github Profile Link**
https://github.com/weeebdev

**Your Name**
Adil Akhmetov

[2021-03-23 12:47] bin-umar commented on #166
@anmol098 heading with empty body is working fine?!

[2021-03-31 01:44] sunnydanu commented on #173
Hi @aravindvnair99  my profile status are not updating. can you help me with that. it's in waka dashboard but not updating my readme file. line of code. anything.

[2021-03-31 07:47] aravindvnair99 commented on #173
@sunnydanu Delete this: https://github.com/sunnydanu/sunnydanu/blob/master/charts/bar_graph.png and run the workflow. See what happens.

[2021-04-06 13:25] subhalingamd commented on #177
@tejasag Why not use the line break before the comment?
[code]

gets rendered as:

<details>
<summary> stats </summary>

![example](https://picsum.photos/20/20)
</details>

[2021-04-07 09:44] aravindvnair99 commented on #164
@faatehsultan Change your workflow to use `anmol098/waka-readme-stats@master`. v3 was released long ago.

[2021-04-12 15:46] faatehsultan commented on #164
Thank you @aravindvnair99 my issue resolved. I am closing this issue!

[2021-04-12 15:46] #164 closed

[2021-04-12 15:47] faatehsultan opened #187 "Add||faatehsultan"
**Github Profile Link**
https://github.com/faatehsultan

**Your Name**
Syed Faateh Sultan Kazmi

[2021-04-14 08:31] #170 closed

[2021-04-14 08:31] #185 closed

[2021-04-14 08:31] #187 closed

[2021-04-15 23:45] Dieman89 commented on #173
Hello, I am having the exact same problem:

`Traceback (most recent call last):
Username Dieman89
  File "/main.py", line 502, in <module>
Exception Occurred 'NoneType' object is not subscriptable
    waka_stats = get_stats(g)
  File "/main.py", line 450, in get_stats
    stats += get_waka_time_stats()
  File "/main.py", line 305, in get_waka_time_stats
    stats = stats + generate_commit_list(tz=

[2021-04-16 06:19] aravindvnair99 commented on #173
@Dieman89 Did you give correct access for the GitHub token?

[2021-04-16 08:12] Dieman89 commented on #173
Yea, repo and user. > > Hello, I am having the exact same problem:

[2021-04-16 08:34] aravindvnair99 commented on #173
@Dieman89 I've sent you a [PR](https://github.com/Dieman89/Dieman89/pull/1). Merge and check if that helps.

[2021-04-16 08:48] Dieman89 commented on #173
Same error:

`Username Dieman89
Traceback (most recent call last):
  File "/main.py", line 502, in <module>
Exception Occurred 'NoneType' object is not subscriptable
    waka_stats = get_stats(g)
  File "/main.py", line 450, in get_stats
    stats += get_waka_time_stats()
  File "/main.py", line 305, in get_waka_time_stats
    stats = stats + generate_commit_list(tz=data['data']['timezone']) + '\n

[2021-04-16 18:58] Dieman89 commented on #173
@aravindvnair99 any idea?

[2021-04-16 19:39] alexanderniebuhr opened #190 "main.py traceback"
sorry it is broken since 2d, commit c59d497f95bb9e5c10bb90d5a6597fb5cb223508, works fine.. can't give more insights, since I am changing to my custom action .. still think it might be good to report for you

[code]

[2021-04-18 17:06] PoseidonCoder commented on #190
[code]

I also had the same issue.

[2021-04-20 16:21] PoseidonCoder commented on #190
I solved it! For me, the issue was that I hadn't given the access token enough permissions. My access token required the user scope.
![image](https://user-images.githubusercontent.com/34260118/115431054-bdc8b080-a1b9-11eb-991e-580eef138d75.png)

[2021-04-20 16:56] alexanderniebuhr commented on #190
This is new than..

[2021-04-21 04:06] codersanjeev opened #191 "Add||codersanjeev"
**Github Profile Link**
https://github.com/codersanjeev

**Your Name**
Sanjeev

[2021-04-21 13:25] biningo commented on #190
Haha, yeah....

[2021-04-27 10:53] UnrealValentin opened #192 "Add||UnrealValentin"
**Github Profile Link**
https://github.com/UnrealValentin

**Your Name**
Waterdev

[2021-04-28 20:22] aravindvnair99 commented on #190
@alexanderniebuhr It isn't new. It's mentioned in the README itself (3rd point):

![image](https://user-images.githubusercontent.com/22199259/116467181-0acd1680-a88d-11eb-9ddb-f81c1c28ce6b.png)

You can close this issue as it's not a valid issue.

[2021-05-03 09:13] sunnydanu commented on #173
any fix.?? still line of code is stuck in 3. :-/

[2021-05-12 07:01] mheob opened #194 "`SHOW_COMMIT` only uses the master branch, but main is the GitHub default"
The `SHOW_COMMIT` flag only looks for commits in the `master` branch.
After GitHub changed its default branch to `main` last year (https://github.com/github/renaming), it made sense to change this in this query as well.

Alternatively, querying both branches or setting one as an attribute would be a good option.

The current query is this:
https://github.com/anmol098/waka-readme-stats/blob/549731c

[2021-05-19 13:38] #194 closed

[2021-05-24 19:31] Eastkap opened #198 "FEAT Preventing specific repos from appearing on Weekly spent time on section"
**Is your feature request related to a problem? Please describe.**
I would appreciate having some repos where I actively work but I rather not have their name leak.

**Describe the solution you'd like**
Simply use the `IGNORED_REPO` env var to filter out projects from the section.

[2021-05-24 19:44] Sufiane commented on #198
I would really love to be able to do so too!
great functionality IMO, thanks @Eastkap

[2021-05-24 19:47] Sufiane opened #200 "Add||Sufiane"
**Github Profile Link**
https://github.com/sufiane

**Your Name**
Sufiane

[2021-06-09 15:23] mh-firouzjaah opened #203 "BUG"
hi, I've noticed that make_graph function uses some unicodes that are a little bit taller than what they should be, and I also found some better options for that:
[code]
and also I've added Persian translations, but I don't actually know how to use them ;)
[code]

[2021-06-21 04:44] Jony-Jas opened #207 "FEAT Ability to rearrange as column"
By using it the profile becomes too long and looks boring. If it is possible to align items in the column the profile will look short and sweet.

[2021-06-24 22:51] claracodes opened #208 "I am getting a 401"
**Describe the bug**
It doesn't generate the reports for me with this error message. I saw the closed issues (#86 )  but I think I followed all the steps. Created a access token (it also says never used) and then added that token to the secrets in my repo...
[code]

Is there anything else I can do? Do I need to enable more scopes than user and repo?

Github repository link
https://github.com/clara

[2021-06-27 06:37] anmol098 commented on #208
You auth token is not correct can you check your auth token.

[2021-06-27 06:37] #208 closed

[2021-06-29 01:17] hypernova7 opened #209 "Add option BADGE_STYLE to customize badges"
Is your feature request related to a problem? Please describe.
It would be nice if they added the option to customize the badges: forthebadge, flat, etc.

**Describe the solution you'd like**
https://img.shields.io/static/v1?style=for-the-badge

**Describe alternatives you've considered**
_Empty_

**Additional context**
_Empty_

[2021-07-01 03:04] claracodes commented on #208
Ok, I found out why it didn't pick up the github token. When adding the secrets to my repo I had to set up an environment and that needs to be mentioned in the yml:
[code]

[2021-07-18 17:55] Mitrajit opened #211 "Empty block ░ is messed up"
From the very beginning, I found that the empty block ░ for bar graphs messes with the output.
<p>
<img src="https://user-images.githubusercontent.com/55190574/126076233-ed6180d7-be7b-416c-ade0-c434baf709d9.png" />
<img src="https://user-images.githubusercontent.com/55190574/126076442-c16bc6ec-b37f-4c01-9b67-43fefc268ead.png" alt="error" />
</p>
I have tried it on my friends' computer, different b

[2021-07-19 11:45] CedricFauth opened #212 "BUG: Visual Basic Language"
One of my repos contains Visual Basic code. The Github action completes without an error but there is a runtime error when I look at the log:

[code]

[2021-07-21 11:02] anmol098 commented on #211
For me, it's fine on your profile. there is some issue with the different resolution. I am using  Google Chrome | 91.0.4472.114 (Official Build) (x86_64)

<img width="874" alt="Screenshot 2021-07-21 at 4 31 18 PM" src="https://user-images.githubusercontent.com/15426564/126478549-8f116791-aded-4305-9e80-c4141908a7a0.png">

[2021-07-21 11:21] aravindvnair99 commented on #211
@Mitrajit I do have that issue on Windows for all resolutions except `2560 * 1080`. Which OS are you on?

@anmol098 Is that screenshot from macOS?

[2021-07-21 11:23] anmol098 commented on #211
Yes I am on macOS

[2021-07-21 11:58] Mitrajit commented on #211
@aravindvnair99 I am using Windows 10.
@anmol098 I think there should be some workaround for Windows machines with lower resolution screens especially because most laptops don't have that high resolution.

[2021-07-21 13:28] aravindvnair99 commented on #211
@anmol098 and @Mitrajit I experimented a bit and realised the problem is that the height isn't matching between ░ and ▊ thus making the former bigger as shown here: ░ ▊ Every OS uses their own font settings (style, width, height. thickness, etc)

If we can find a character that looks same on all OS and of same height, then the issue can be rectified.

[2021-07-21 14:50] Mitrajit commented on #211
@anmol098 and @aravindvnair99 I was searching for a character that will suit all OS and look good at the same time. After looking into all the weird and complex Unicode characters I found `/` backslash U+002F is the easiest to code by just replacing the empty_block with `/`. Other characters like `⣿` have a different width than `█` that might cause alignment issues.
**Example**
[code]
**Before and

[2021-07-21 14:57] aravindvnair99 commented on #211
@Mitrajit That's great to hear! If you make a PR, I could test your suggestion.

[2021-07-21 15:13] Mitrajit commented on #211
@aravindvnair99 Unfortunately I just realised `/` is having a different width for chrome in android. Can you please open this issues page on your mobile device and check the progress bars?
Mine is terribly misaligned.
<img src="https://user-images.githubusercontent.com/55190574/126513071-965d6517-be61-4de0-a4ac-79f9587262ae.jpg" width="600px"/>
We might need to find some other solution.

[2021-07-21 15:27] aravindvnair99 commented on #211
@Mitrajit Good findings! I agree, on my Windows laptop, it looks proper for all resolutions I tested; but not on my Android phone.

Seems like we need something that is the same for all OS as when I tried phone and tablet resolutions on my laptop, it comes correct. But not when I check on Android. So, as I mentioned in https://github.com/anmol098/waka-readme-stats/issues/211#issuecomment-884190440

[2021-07-21 18:23] Mitrajit commented on #211
@aravindvnair99 I found a work around that must work on all devices and platforms - *Tables*
<table>
<tr><th colspan="3">💬 Programming Languages: </th></tr>
  <tr>
    <td> C </td>
    <td> 2 hrs 15 mins </td>
    <td> ██████████░░░░░░░░░░░░░░░   40.88%  </td>
  </tr>
  <tr>
    <td> Java </td>
    <td> 1 hr 6 mins </td>
    <td> █████░░░░░░░░░░░░░░░░░░░░   20.13%  </td>
  </tr>
    <td>C++ </td>

[2021-07-22 19:19] aravindvnair99 commented on #211
@Mitrajit That's great! You could make a PR. The table looks good to me on Windows, iOS, and Android devices. I don't have my Mac with me at the moment to test. @anmol098 How does it look for you?

[2021-07-25 11:14] CSY54 opened #214 "The letter case of the word "GitHub" in `translation.json` is wrong"
**Is your feature request related to a problem? Please describe.**
Right before the translation process started, the letter case of the word "GitHub" is correct (capital G and capital H).
However, from the first version of [`translation.json`](https://github.com/anmol098/waka-readme-stats/commit/b4da99e6715e884109eba2311a71c7f4e6424fc6#diff-f1724ac129587c875a669bffba57c9b48c3ffb3244c23cc7826f8acaf

[2021-08-01 11:28] BilalJaved15 opened #217 "BilalJaved15"
**Github Profile Link**
https://github.com/BilalJaved15

**Your Name**
Muhammad Bilal

[2021-08-05 19:29] BilalJaved15 opened #218 "BilalJaved15"
https://github.com/BilalJaved15
A direct link to your profile

Muhammad Bilal
your name which should be displayed on the link

[2021-08-08 02:03] recallwei opened #219 "BUG"
I built my action and its status was "success", but no content has been written into my "Readme.md".And there is some error here:
[code]

[2021-08-16 16:10] #219 closed

[2021-08-19 11:20] #190 closed

[2021-08-21 20:20] muety opened #220 "FEAT: Support Wakapi"
It would be cool to additionally support [Wakapi](https://github.com/muety/wakapi) as an alternative to WakaTime. People could then use _waka-readme-stats_ with their own, self-hosted coding statistics backend.

Wakapi mostly provides the same endpoints as WakaTime, so not much would have to be changed. Basically, another variable - something like `WAKATIME_API_URL` - would be required, that defau

[2021-09-04 18:53] AL33H opened #221 "BUG Translate for pt_BR"
The default translation for Brazilian Portuguese is, **"pt_BR"** instead of **"pt-BR"*".

[2021-09-06 02:53] coldnight opened #222 "BUG Exception Occurred 'languages'"
**Describe the bug**
[code]

**Github repository link**
https://github.com/coldnight/coldnight

**Additional context**
Add any other context about the problem here.

[2021-09-06 19:53] GoogolDKhan opened #223 "BUG Exception Occurred list 'index out of range'"
**Describe the bug**
[code]

**Github repository link**
https://github.com/GoogolDKhan/GoogolDKhan

[2021-09-06 20:34] GoogolDKhan commented on #223
It working perfectly now.

[2021-09-06 20:34] #223 closed

[2021-09-07 16:28] branlito opened #224 "Problem of data display"
Hey guys,

Can I know why there is only my langages hours that are displayed on my github readme ?

I have a lot of data :
https://wakatime.com/api/v1/users/branlito/stats/last_7_days

I have also set some flags to "True" like SHOW_OS: "True" but it is never displayed.
My run doesn't drop erros so I don't know.

Here is my .yml file :
`name: Waka Readme

on:
  schedule:
    # Runs at 12am IST

[2021-09-07 21:11] umang-sinha commented on #222
I've been encountering the same issue. The workflows run as scheduled but the README file does not get updated with the recent data.

[code]

[2021-09-21 03:51] behroozazarkhalili opened #226 "BUG: Docker build failed with exit code 1"
**Describe the bug**
As of this morning, I have been receiving the following error when running the waka-readme-stats action workflow.

### Update this repo's README
Docker build failed with exit code 1

### Update this repo's README
Docker build failed with exit code 1, back off 3.7 seconds before retry.

### Update this repo's README
Docker build failed with exit code 1, back off 2.329 seconds b

[2021-09-21 05:17] mheob commented on #226
Some additional information of my action log:

[code]

[2021-09-21 05:31] behroozazarkhalili commented on #226
Do you have any idea as to what the problem is?

[2021-09-21 05:51] mheob commented on #226
It seems that the node package `canvas` can't be installed.

[code]

But I don't know why that is. A manual download works fine. I don't have the time to deal with it now. Maybe later. Hopefully @anmol098 can help faster.

[2021-09-21 06:00] pacholoamit commented on #226
Yeah, same here. Facing the same issue

[2021-09-21 09:45] MasterCoder1234567890 commented on #226
Exactly I AM Facing The SAME ISSUE

[2021-09-21 09:48] MasterCoder1234567890 commented on #226
See My This On My [action log:](https://github.com/MasterCoder1234567890/MasterCoder1234567890/runs/3661617687?check_suite_focus=true)

[2021-09-21 09:50] MasterCoder1234567890 commented on #226
This Is the Error Coming On My [Action Log](https://github.com/MasterCoder1234567890/MasterCoder1234567890/runs/3661617687?check_suite_focus=true)

 Step 12/13 : RUN npm i -g agentkeepalive npm@latest vega vega-lite vega-cli canvas
   ---> Running in 4422a62aabe3
  npm ERR! code 1
  npm ERR! path /usr/lib/node_modules/canvas
  npm ERR! command failed
  npm ERR! command sh -c node-pre-gyp install -

[2021-09-21 12:31] Saicharan67 commented on #226
Same here too

[2021-09-21 12:59] rmaafs commented on #226
Same here. But I re-run the job and It works fine!

[2021-09-22 04:01] MasterCoder1234567890 commented on #226
Please Tell The Solution For This Issue.....
I Am Unable to figure it out

[2021-09-22 05:19] fbuireu opened #228 "feat: add commit message option"
Currently, the default commit message is "Updated with Dev Metrics".

I would like to have the option of setting my own commit message by adding the `COMMIT_MSG` (or similar) as a flag.

[2021-09-22 05:22] fbuireu commented on #226
Just re-run the GitHub action, it has been fixed. The issue has been solved since, as it has been debugged in https://github.com/anmol098/waka-readme-stats/issues/226#issuecomment-923650104 the issue was outside the scope of this repo.

If you are still having problems, it may be that the cause is different than the one discussed in this thread.

[2021-09-22 08:07] anmol098 commented on #226
There was some issue with the canvas NPM package and it is working fine now.

[2021-09-22 08:07] #226 closed

[2021-09-22 08:09] anmol098 commented on #224
@branlito  as i can see on your profile the OS data is displaying. so closing this issue

[2021-09-22 08:09] #224 closed

[2021-09-22 08:12] anmol098 commented on #222
@coldnight  as I can see in your profile the latest updates and the action is working fine so closing this as of now

[2021-09-22 08:12] #222 closed

[2021-09-22 08:28] anmol098 commented on #214
merged closing this

[2021-09-22 08:28] #214 closed

[2021-10-01 03:22] poshoi opened #229 "Can multiple files be pushed?"
Sometimes, users may have two languages to describe themselves, so the project can only update the README when it is updated. We hope developers can teach us how to synchronize data across multiple files.

[2021-10-03 03:19] alanhamlett opened #230 "FEAT Support for total code stats badge from public profile"
Requesting support for showing the badge shield from public profile pages, as seen here:

https://twitter.com/WakaTime/status/1444398541195988992

![FAuIre0UcAEXPuw](https://user-images.githubusercontent.com/522344/135738166-901ac5c0-9683-4b29-bdb2-96ea541b4fbd.png)

[2021-10-08 08:43] nick22985 opened #231 "Waka Readme Stats Failing to uplaod to github"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Waka readme stats in github actions
4. See error

[code]
**Expected behavior**
To run and update github readme

**Github repository link**
n/a just a workflow file
[code]

**Additional context**
This was working and sudenly has stopped working in the last few days. Che

[2021-10-15 14:49] ShreyamMaity opened #232 "Add||<ShreyamMaity>"
**Github Profile Link**
https://github.com/ShreyamMaity

**Your Name**
Shreyam Maity

[2021-10-31 21:10] DionneNoellaBarretto opened #236 "BUG : Build Error causing stats to fail readme render"
**Describe the bug** / **To Reproduce**
Running into run time errors causing line 515 to never execute because of the exception "Cannot find the Locale choosing default to english" match resulting in waka stats not updating in user's readme file.. Seems like a widespread user problem..

Wasn't able to follow through entirely but I wonder if some recent commits in https://github.com/PyGithub/PyGith

[2021-10-31 21:19] BigProject404 opened #237 "BUG: [ERROR] wakatime-core exited with status: 3221225477"
**Describe the bug**
Stats do not send to waka. `[WakaTime] [ERROR] wakatime-core exited with status: 3221225477` message appeared in my editor console (sublime text). I haven't found anything on the Net about this error (I tried)

**To Reproduce**
I really don't know what happened. My api-key is correct.

[2021-11-04 17:33] oHTGo commented on #236
Hi,
I just checked your workflows in your profile, saw a LOCALE value in the main.yml file and its type was "True" when actually the value needed was a string value, for example "en", "fr" ",...

[2021-11-11 21:43] SubZtep opened #238 "BUG: Empty block"
Hey, thanks for the great plugin, I just noticed a simple issue.

**Describe the bug**
Even I opt-out from all the weekly stats, the empty "_This Week I Spend My Time On_" still appears.
![image](https://user-images.githubusercontent.com/1309831/141372759-1e7390a4-e2b7-4925-bfe7-3394ffd064dd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to workflow yaml
2. Turn off showTimeZone and

[2021-11-13 21:34] sedaryildirim commented on #99
Just had the same issue and google led me here! Thanks Anmol!! appreciate this action so much!

[2021-11-15 02:15] DionneNoellaBarretto commented on #236
@oHTGo  thank you so much for the workaround tip... Setting that to false sure did the trick for now.. :')

[2021-11-22 07:36] Abvent-Jonathan commented on #222
I have the same problem, the workflow runs fine every day, and the last update commit was 8 days ago.

[code]

There is [my repository ](https://github.com/jdebetaz/jdebetaz)

[2021-11-22 07:39] jdebetaz commented on #222
I have the same problem, the workflow runs well every day, and the last update commit was 8 days ago.

[code]

There is [my repository](https://github.com/jdebetaz/jdebetaz)

[2021-11-24 10:16] oHTGo commented on #236
@DionneNoellaBarretto after I debug, I found out that the bug is not caused by PyGithub but can't get my email using GraphQL, must use through API
@anmol098 I made a pull request to fix this bug, hope to be accepted

[2021-12-01 09:42] #236 closed

[2021-12-01 09:47] anmol098 commented on #237
this error you reported seems to be from Wakatime extension for sublime
this might not be the correct change to report this issue please report to wakatime

[2021-12-01 09:47] #237 closed

[2021-12-01 09:48] anmol098 commented on #231
fixed in #241

[2021-12-01 09:48] #231 closed

[2021-12-01 10:31] anmol098 commented on #236
Email can be obtained from API as well as from GraphQL
provided that when generating the GitHub token that should be granted following scope  ['user: email', 'read: user']

[2021-12-01 13:13] anmol098 commented on #191
No use of repo found closing

[2021-12-01 13:13] #191 closed

[2021-12-01 13:15] #230 closed

[2021-12-01 13:15] #232 closed

[2021-12-01 13:15] #192 closed

[2021-12-01 13:15] #200 closed

[2021-12-01 13:15] #217 closed

[2021-12-03 14:48] iquasere opened #242 "[BUG] Resource not accessible by integration"
Greetings! I am trying to use this tool for the first time, but have not managed to get it working.
wakatime succeeds in GitHub action but does not write to README.
In the [workflow run](https://github.com/iquasere/iquasere/runs/4409045863?check_suite_focus=true), go to the "Run anmol98..." step. There, it reports:
[code]
Is this because one of my secrets is wrongly configurated? In the yaml, I on

[2021-12-04 16:23] Arondight opened #243 "KeyError: 'text'"
**Describe the bug**

The data has not been updated for several days, also graphs `charts/bar_graph.png`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Github repository link**

https://github.com/Arondight/Arondight

**Additional co

[2021-12-05 05:26] Arondight commented on #243
Nothing changed in my repo.

![图片](https://user-images.githubusercontent.com/13673702/144734867-6d3e5d08-b24f-4f51-a74e-fec9af6f345c.png)

[2021-12-05 07:01] mheob commented on #243
Yes. Same for me. See my [Action output](https://github.com/mheob/mheob/runs/4420144906)

[code]

[2021-12-05 10:17] Prathamesh-B commented on #243
#### I don't think `show_total_code_time` is working for everyone right now.

![image](https://user-images.githubusercontent.com/55992548/144741528-dd22bd90-eb5c-4420-9d31-42fb26301821.png)

### A simple fix if you are getting this error

[code]

[2021-12-05 10:21] mheob commented on #243
You are right.

Quick Typo Fix:

should be

[code]

[2021-12-05 10:35] Arondight commented on #243
@anmol098 Hello, can you do a fix? I think this case should handle by the code rather than users

[2021-12-05 10:36] anmol098 commented on #243
Yes i will deploy the fix.. I was not aware of varying response from the
Waka api

On Sun, Dec 5, 2021, 16:05 Qin Fandong ***@***.***> wrote:

[2021-12-05 11:47] anmol098 commented on #242
Can you please check you github auth token..
That is invalid or does not have sufficient privileges

[2021-12-05 11:48] anmol098 commented on #242
This issue is irrelevant
You can try the steps listed on Readme file.
It will get you working

[2021-12-05 11:48] #242 closed

[2021-12-05 11:49] #243 closed

[2021-12-06 00:45] Arondight opened #245 "bar_graph.png is wrong"
**Describe the bug**
| date | pic |
| --- | --- |
| Nov 26, 2021 | [link](https://github.com/Arondight/Arondight/blob/b1e624b78a71505900c64815b56db564b66c6092/charts/bar_graph.png) |
| Dec 6, 2021 | [link](https://github.com/Arondight/Arondight/blob/0e05d29908335e704b8ce491caf5c75ec7aafe67/charts/bar_graph.png) |

Obviously this is wrong, and **why is there a negative 5000**?

**To Reproduce**
Ste

[2021-12-06 10:13] iquasere commented on #242
Turns out I hadn't yet authorized the application in GitHub! Thanks for an amazing tool!

[2021-12-07 10:57] Arondight commented on #245
I found this function is unstable, and the data it obtains may be quite different (and wrong)

[2021-12-07 13:30] Prathamesh-B opened #246 "IndexError: list index out of range"
**Describe the bug**
Readme Stats are not updating and workflow showing IndexError

**Github repository link**
[Repo Workflow](https://github.com/Prathamesh-B/Prathamesh-B/runs/4434606567?check_suite_focus=true)

**Additional context**
![image](https://user-images.githubusercontent.com/55992548/145037851-606aa2a0-4040-4638-9520-41b61a59e54e.png)

[2021-12-18 03:40] #246 closed

[2021-12-21 01:37] Minituff opened #248 "FEAT - Make Code Time optional"
I think we should have a flag witch can make the `Code Time` banner optional. We can disable the `lines of code` banner, so I think it makes sense to make them all optional.

[2022-01-04 13:29] BigProject404 opened #250 "Wrong link"
![image](https://user-images.githubusercontent.com/85517026/148066054-18702161-3215-495d-a305-9439440d3a31.png)

This link in contributing.md does not work

![image](https://user-images.githubusercontent.com/85517026/148066138-d4906656-70ca-4dcb-9535-4c1fe382e64a.png)

[2022-01-05 09:50] ChesterYue opened #252 "BUG KeyError: 'languages'"
bug shown from about 2021-12-19

**Describe the bug**
[code]
<img width="1602" alt="Screen Shot 2022-01-05 at 5 39 53 PM" src="https://user-images.githubusercontent.com/8273263/148197131-e0021069-4d20-4440-acd6-d944b3566efc.png">

[2022-01-05 09:53] ChesterYue commented on #252
`brew info wakatime-cli`

[code]

[2022-01-05 11:45] LukeSamkharadze commented on #245
Same issue

![image](https://user-images.githubusercontent.com/31849767/148212650-2d4fd7e4-a400-4517-bd44-b593cad730d6.png)

[2022-01-06 16:58] ChesterYue commented on #252
github token issue

[2022-01-06 16:58] #252 closed

[2022-01-11 17:45] Minituff opened #253 "Add Minituff"
**Github Profile Link**
https://github.com/Minituff/Minituff

**Your Name**
James Tufarelli

[2022-01-14 06:22] iamsamiulazim opened #255 "readme waka stats not showing."
I've created a yml and it's running completely fine but the readme not showing stats!! I've added the waka comments in the readme.
Did I mistake anything?

name: Work Stats Readme

on:
  workflow_dispatch:
  schedule:
    # Runs every 2 hours
    - cron: "0 */2 * * *"

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-read

[2022-01-15 20:39] #255 closed

[2022-01-15 20:41] iamsamiulazim commented on #255
Closing this issue because I don't want to use wakatime in my profile anymore.
It's not showing.

[2022-01-16 11:43] DeadmanWasTaken opened #257 "BUG: main.py, line 494, in <module> raise exception('Token not available')"
**Describe the bug**
I'm not entirely sure what the bug actually is but everytime I run `pything main.py` in cmd it spits out the error as the title says

**To Reproduce**
Steps to reproduce the behavior:
1. Open cmd
2. Type python main.py after installing all necessary modules
3. See error

**Expected behavior**
I assume something is meant to happen, I don't use Python at all so I'm not entirely

[2022-01-22 12:33] #257 closed

[2022-01-23 02:30] ronething opened #258 "request always reset by peer"
**Describe the bug**

request always reset by peer

https://github.com/ronething/ronething/runs/4908450116?check_suite_focus=true

![image](https://user-images.githubusercontent.com/28869910/150662318-807be35f-0b6a-4556-a60e-a567378b956d.png)

https://github.com/anmol098/waka-readme-stats/blob/master/main.py#L432

**To Reproduce**

run actions

**Expected behavior**

may be request another link or

[2022-01-24 17:50] akgupta0777 opened #260 "BUG : Exception Occurred invalid key 'data' keyError"
**Describe the bug**
So I configured my github action to github stats on my readme but they are not showing. So I dig deeper and found this message in log.

![image](https://user-images.githubusercontent.com/51379307/150836612-ad080a6c-0c67-46d8-b85e-2e9492714730.png)

**Expected behavior**
It should show all stats properly.

**Github repository link**
https://github.com/akgupta0777/akgupta0777

*

[2022-01-24 21:44] miermontoto commented on #260
make sure to add `read:user` and `user:email ` to the permissions of the token you're using.

[2022-01-25 04:34] akgupta0777 commented on #260
I guess I haven't give token that permission. I will update you.

[2022-01-25 06:55] akgupta0777 commented on #260
It worked !! but don't you think its kinda slow takes 5 mins.
And also in docs it should be documented that these permissions should be enabled. If you think so I will happy to send a PR :-)

[2022-01-25 07:44] anmol098 commented on #258
I can see your profile is updated and the last run was also executed successfully
A connection reset by peer message means that the site you are connected to has reset the connection. This is usually caused by a high amount of traffic on the site, but may be caused by a server error as well.

[2022-01-25 07:44] #258 closed

[2022-01-25 07:45] #250 closed

[2022-01-25 07:48] anmol098 commented on #260
@akgupta0777 it's mentioned on doc the user and repo scope is required for the token. you can improve the docs if you didn't find the docs clear
yes it takes time to process the whole data. because we can spam GitHub API at once so a wait timer is added.

[2022-01-25 07:48] #260 closed

[2022-01-25 16:27] ronething commented on #258
yeah, i manually run the actions and it is success,
then i also change the cron time to avoid the high amount of traffic on the site

[2022-02-03 09:11] 1interceptor3 commented on #258
I have a similar problem. The api is opened locally. Starting the workflow manually doesn't help.

[2022-02-04 13:43] Arondight opened #261 "BUG Connection reset by peer"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Github repository link**
https://github.com/Arondight/Arondight

**Additional context**
Add any other context about the problem here.

[2022-02-04 13:44] Arondight commented on #261
you can check my repo's action output

[2022-02-04 14:02] aravindvnair99 commented on #261
@Arondight Duplicate of #258

[2022-02-04 14:06] Arondight commented on #261
thanks

[2022-02-04 14:06] #261 closed

[2022-02-07 12:28] whysaputro commented on #248
Yes i agree with that, please make Code Time optional

[2022-03-01 03:29] FAXES opened #264 "FEAT: Ability to disable separate items in short info."
**Is your feature request related to a problem? Please describe.**
No, It would be great to be able to have settings to toggle each item in the `SHOW_SHORT_INFO` section on or off. For example the ability to toggle the hiring line off.

Some variable examples could be:
`SHOW_SHORT_INFO_CONTRIBUTIONS `
`SHOW_SHORT_INFO_STORAGE `
`SHOW_SHORT_INFO_HIRE `
`SHOW_SHORT_INFO_PUBLIC `
`SHOW_SHORT_INFO_PRI

[2022-03-01 03:47] FAXES commented on #264
See PR: https://github.com/anmol098/waka-readme-stats/pull/265

[2022-03-08 15:21] jdebetaz opened #267 "BUG GitHub profile stats api is down"
It seems that the endpoint is dead 'https://github-contributions.now.sh/api/v1/'

[2022-03-08 15:43] #267 closed

[2022-03-13 13:25] Koushikphy commented on #211
have this same issue on chrome in windows 10

[2022-03-13 13:29] Koushikphy opened #270 "BUG: empty block for " 📊 This Week I Spent My Time On""
I have
[code]
But still a empty "📊 This Week I Spent My Time On" block is shown. It should not be present there.
Repo link https://github.com/Koushikphy/Koushikphy

[2022-03-13 13:33] aravindvnair99 commented on #270
Hey @Koushikphy!

Quoting https://github.com/Koushikphy/Koushikphy/runs/5525536927?check_suite_focus=true#step:4:25

[2022-03-13 13:33] #270 closed

[2022-03-13 13:35] Koushikphy commented on #270
So, how do I know when it will work properly?

[2022-03-13 13:37] aravindvnair99 commented on #270
You can wait for WakaTime to process your profile. You'll see it in your dashboard. Once it's processed, try running the workflow again and you should be able to see the details.

[2022-03-13 13:42] Koushikphy commented on #270
I don't see anything in my wakatime dashboard that is "being processed". I can query the API `https://wakatime.com/api/v1/users/current/` from browser and it always returns proper data.

[2022-03-13 18:11] SSIvanov19 opened #271 "TypeError: 'NoneType' object is not subscriptable"
**Describe the bug**
When I run the action, I get the following error:
![image](https://user-images.githubusercontent.com/63718744/158073137-053af4b4-97b7-4d36-a5fb-4b093fa0068b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run the action
2. See the error

**Expected behavior**
The action to run without any errors.

**Github repository link**
[Repo](https://github.com/SSIvanov19/ssiva

[2022-03-15 07:33] oHTGo commented on #271
![image](https://user-images.githubusercontent.com/69106844/158328392-ddca1eef-27b4-45f1-92e9-dfa9a0d665bc.png)
Have you tried giving the access token enough permissions?

[2022-03-15 07:59] SSIvanov19 commented on #271
Thanks for the reply!

It turned out that the token didn't have authorization for my school organisation. Now everything is working. Thanks for helping with the problem!

[2022-03-15 07:59] #271 closed

[2022-03-22 12:51] modem7 opened #274 "BUG Not updating - During handling of the above exception, another exception occurred:"
**Describe the bug**
Errors come up during updating, have confirmed it also happens in other repos.

Last update was two days ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Actions
2. Click on actions logs > run

Error:

[code]

**Expected behavior**
For this to work as intended + potential error checking.

**Github repository link**
https://github.com/modem7/modem7

[2022-03-23 03:00] 2720851545 commented on #274
Duplicate of https://github.com/anmol098/waka-readme-stats/issues/258

[2022-03-23 03:56] aravindvnair99 commented on #274
@modem7, refer #258 as mentioned by @2720851545

[2022-03-23 03:56] #274 closed

[2022-04-01 03:45] ronething opened #276 "[question] how to disable the timeline"
hi, i want to disable timeline but i could not find how to change the config in project's `readme.md` or `issue`, can you tell me something about this? thanks.

![image](https://user-images.githubusercontent.com/28869910/161190971-64ae9740-0ae2-4fa0-bcba-9165c1d5d1ca.png)

[2022-04-01 07:51] ronething commented on #276
may be i know, set SHOW_LOC_CHART: False

[2022-04-01 07:51] #276 closed

[2022-04-30 15:45] AlfinIndrawan opened #281 "Graph issue"
**Describe the bug**
there is a problem in graph in all waka stats. is this waka API issue or what? the font also become uglier.

![Screenshot (309)](https://user-images.githubusercontent.com/77723289/166112543-920cdcc6-6f11-48fd-90f4-1d13586de8ff.png)

[2022-05-01 05:10] AlfinIndrawan commented on #281
Ok it seems API already fixed

[2022-05-01 05:10] #281 closed

[2022-05-04 16:43] c-viniciussantos opened #283 "Add||<c-viniciussantos>"
**[C. Vinicius Santos](https://github.com/c-viniciussantos)**

**Hello, my name is Vinicius, i am from Brazil - São Paulo**

[2022-05-06 21:17] Itz-Hyperz opened #284 "BUG"
**Describe the bug**
is_hireable doesn't work as it should...

**To Reproduce**
Steps to reproduce the behavior:

NA

**Expected behavior**
I'm opted to hire, but it doesn't show that on my github readme stats...

**Github repository link**
https://github.com/Itz-Hyperz/Itz-Hyperz

**Additional context**
[Hireable Image](https://cdn.hyperz.net/u/main/4FYe5Ks.png)

[2022-05-12 16:20] Oren-Lindsey opened #285 "Flags don't work"
**Describe the bug**
So i enabled this action but flags don't seem to affect anything

**To Reproduce**
1. Setup this action on one of your repositorys (following the instructions in the [readme](https://github.com/anmol098/waka-readme-stats#prep-work))
2. Add any flags
3. run the workflow
4. The flags don't affect anything

**Expected behavior**
The flags should let you customize the output

**Gi

[2022-05-13 17:19] Yeikzy opened #286 "FEAT"
Hi i went to know, how i can delete this ? (Code Time)
Thanks for you reply.

![Media](https://cdn.upload.systems/uploads/rM2TMAn8.png)

[2022-05-13 20:14] Minituff commented on #248
Great find. It looks like this does work! I will try to submit a PR to update the documentation.

[2022-05-14 18:33] Oren-Lindsey commented on #285
update: somehow it works now

[2022-05-14 18:33] #285 closed

[2022-05-16 00:52] siyual-park commented on #286
This is a related issue #248

[2022-05-16 02:46] aravindvnair99 commented on #286
Duplicate of #248

[2022-05-16 02:46] #286 closed

[2022-05-16 02:49] #248 closed

[2022-05-20 03:33] tapyu commented on #208
I had the very same issue here, it should be explicated in the `README.md` of this repo. . .

[2022-05-29 20:06] orhanar opened #291 "BUG"
**Describe the bug**
I get index out of error and list is not updated

**Expected behavior**
Updated Readme

**Github repository link**
https://github.com/orhanar/orhanar/runs/6645533261?check_suite_focus=true

**Additional context**
![image](https://user-images.githubusercontent.com/8739360/170889432-260f44f9-7755-44b2-9614-a6202faa00c0.png)

[2022-05-30 11:14] AlfinIndrawan commented on #270
@Koushikphy  any progress to disable that block?

[2022-05-31 17:50] andrea-acampora opened #292 "BUG: Workflow not overwriting the README"
The workflow runs with success but it doesn't overwrite the README with newest info.
You can check this behaviour viewing the commit list  at this [repo](https://github.com/andrea-acampora/andrea-acampora)

[2022-06-03 15:02] leroywagner opened #293 "BUG"
I have this .yaml config
<img width="488" alt="Screenshot 2022-06-03 at 18 01 05" src="https://user-images.githubusercontent.com/106757584/171880216-bf71a7f4-0951-4783-a07d-ebc928e1620f.png">

i disabled SHOW_PROJECTS but it's doesn't works
<img width="887" alt="Screenshot 2022-06-03 at 18 02 17" src="https://user-images.githubusercontent.com/106757584/171880422-69c3863d-3bb5-42d8-94ab-3458c339ee7

[2022-06-09 11:37] leroywagner commented on #293
answer pls

[2022-06-12 02:46] adityaprasad502 opened #294 "Add || adityaprasad502"
**Github Profile Link**
https://github.com/adityaprasad502

**Your Name**
Aditya Prasad S

[2022-06-12 07:39] anmol098 commented on #293
Fixed in #290

[2022-06-12 07:39] #293 closed

[2022-06-12 07:50] #218 closed

[2022-06-12 07:56] #253 closed

[2022-06-12 07:56] #283 closed

[2022-06-12 07:56] #294 closed

[2022-06-15 03:00] yanyongyu opened #297 "FEAT: Custom committer name and email"
**Is your feature request related to a problem? Please describe.**

GitHub API will return an **empty email** if user turned on `Keep my email addresses private`. In this case, `COMMIT BY ME` will fail to update file content with the following exception.

[code]

**Describe the solution you'd like**

Provide a way to custom username and email?

**Describe alternatives you've considered**

Use user

[2022-06-15 05:12] aravindvnair99 commented on #297
@yanyongyu I noticed you are committing with `yanyongyu_1@126.com`. Do you have `Keep my email addresses private` turned on and `Block command line pushes that expose my email` turned off?

[2022-06-15 05:43] yanyongyu commented on #297
I turned on `Keep my email addresses private` and turned off `lock command line pushes that expose my email` for a long time and never change it. but i noticed that action pushed content failed since 6/11. i tried to query gh api with my PAT token and got email to be null.

[2022-06-16 08:08] mrSkyGuy opened #298 "BUG"
**Describe the bug**
Code time is not shown
![image](https://user-images.githubusercontent.com/62302720/174023683-0fd8dbe6-669e-4eee-93e3-559af8e3c2f2.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [my github readme](https://github.com/mrskyguy/mrskyguy)
2. Check the first badge under title "My WakaTime stats"
4. See error

**Github repository link**
https://github.com/mrskyguy/m

[2022-06-22 06:53] mrSkyGuy commented on #298
I understood what the problem was. Everything broke down because of the title. To make everything work, you need to add a line break after the title "my waka time stats"

[2022-06-22 06:53] #298 closed

[2022-06-27 16:18] matiduda commented on #23
Happy to help with Polish :D

[2022-07-09 03:16] lucaspinarj opened #301 "BUG"
**Describe the bug**
Simply I can't make the time i spent in 'x' language to appear... I've already checked the WakaTime API key, everything looks fine, neither the languages that I use nor the OS is being identified.

**To Reproduce**
It's just not working properly and I can't figure it out why, I've made thousands of commits with different flags, I've already recreated the workflow, changed the

[2022-07-09 04:42] anmol098 commented on #301
As you mentioned you have checked Waka time api..
Can you share the api response here so that we can debug and add missing
things.

On Sat, 9 Jul, 2022, 08:47 Lucas Pina, ***@***.***> wrote:

[2022-07-09 04:55] lucaspinarj commented on #301
I'm sorry, I'm kind of new on github, how may I do that?

[2022-07-10 02:39] lucaspinarj commented on #301
Ok, for some reason that I couldn't find out the workflow ran automatically and it worked normally, the manual runs weren't giving any results idk why this happened, but I think it's fixed.

[2022-07-15 00:15] rowan-vr opened #302 "BUG: Commit branch"
**Describe the bug**
The branch that the action commits to is not the default branch, if a 'master' branch exists whilst 'origin' is the main branch it commits to 'master' or creates 'master'.

**To Reproduce**
Steps to reproduce the behavior:
1. Use this action in a repository where main is the default branch
2. Let it run
3. Observe how it creates a new branch and not commits to the one exists

[2022-07-18 11:49] krzema12 opened #304 "FEAT Add action typings"
Hi @anmol098!

Maintainer of https://github.com/krzema12/github-actions-kotlin-dsl here. Your action has first-class support in the library.

Recently we've come up with a way to reduce operational load when keeping library's action wrappers in sync with action's inputs. The solution includes onboarding https://github.com/krzema12/github-actions-typing. It's as easy as adding an extra YAML file to

[2022-07-26 18:15] DevTaehong opened #305 "BUG"
**Describe the bug**
I followed all instruction and when I run the action, I got this exception that
Traceback (most recent call last):
  File "/main.py", line 547, in <module>
    user_data = run_query(userInfoQuery)  # Execute the query
  File "/main.py", line 173, in run_query
    raise Exception("Query failed to run by returning code of {}. {}".format(request.status_code, query))
Exception: Qu

[2022-07-28 03:41] zhouconghao opened #307 "FEAT Disable code timeline"
I am having trouble figuring out how to disable the timeline at the end of the README.md. Could you help me with that? Thank you!

[2022-07-28 06:43] edavetisyan commented on #307
Yes, please

[2022-07-28 12:13] ArslanAmeer commented on #292
@andrea-acampora @anmol098
Any update on this?
i am manually running wakatime workflow, but it is not overwriting the README.

Error in logs with the successful workflow :

[code]

[2022-07-28 12:21] andrea-acampora commented on #292
@ArslanAmeer I think that it generates and overwrites the README only if there'are some changes.

[2022-07-28 12:23] ArslanAmeer commented on #292
@andrea-acampora Waka dashboard show changes, but the README file doesn't .
I don't know for how long the stats hasn't been updated, because there is huge diff in what waka dashboard is showing

[2022-07-28 12:31] andrea-acampora commented on #292
Try to manually delete the section between  and . Then launch the workflow and it will generate the waka section.

[2022-07-28 12:46] ArslanAmeer commented on #292
@andrea-acampora  Same. not working. Same error as mentioned above

[2022-07-28 13:09] andrea-acampora commented on #292
Your error refers to this issue #305. Btw in my repo the action works fine so i really don't know.

[2022-07-28 13:25] chocoelho commented on #307
Wouldn't this solve for you? https://github.com/anmol098/waka-readme-stats/issues/276#issuecomment-1085547788

[2022-07-28 15:38] ArslanAmeer commented on #305
@DevTaehong :

1: You need to update your GitHub Personal Access token, regenerate new one add it `Gh_TOKEN` in waka workflow file or in your repo secret.
2: Remove all the content written in between the waka tags and save.
3: It will take some time (in my case, a few hours) to run and update your README. Please note: manual trigger workflow will not update the README file

[2022-07-28 15:41] ArslanAmeer commented on #301
@lucaspinarj  Yes manually trigger will not update README.md file

[2022-07-28 15:43] ArslanAmeer commented on #292
Well, it worked after auto run.
Manually triggering the workflow does not update README.md file

[2022-07-28 16:49] lucaspinarj commented on #301
@ArslanAmeer that was not the point lol. Some features were missing and they suddenly came back.

[2022-07-29 02:05] DevTaehong commented on #305
@ArslanAmeer
I regenerated my personal Access token and added it but it is not still working.

[2022-07-29 02:40] DevTaehong commented on #305
@ArslanAmeer
Thank you, man!
I was wrong. I should have added GH_TOKEN in my repo secret.

[2022-07-29 04:42] zhouconghao commented on #307
@chocoelho This works. Thank you!

[2022-07-29 07:06] edavetisyan commented on #307
Works, thanks a lot

[2022-07-29 22:45] technologiespro commented on #86
0. **create access token** in profile settings > developer settings > personal access tokens > generate new token, set flags all repo, user, forget your secret key ghp_....
![g1](https://user-images.githubusercontent.com/9394904/181854182-47025700-aa1f-440c-b104-5bf9eb83d00f.png)

1. **open your repo** in git & click Settings ![g2](https://user-images.githubusercontent.com/9394904/181854312-c009c2

[2022-08-01 12:04] exilvm commented on #292
The query throws this error:

`{'errors': [{'type': 'INSUFFICIENT_SCOPES', 'locations': [{'line': 5, 'column': 7}], 'message': "Your token has not been granted the required scopes to execute this query. The 'email' field requires one of the following scopes: ['user:email', 'read:user'], but your token has only been granted the: ['repo', 'workflow', 'write:packages'] scopes. Please modify your toke

[2022-08-01 12:51] ArslanAmeer commented on #292
@exilvm but i have already granted it

[2022-08-01 13:03] exilvm commented on #292
Well then there could be other scopes missing.

[2022-08-01 13:12] ArslanAmeer commented on #292
@exilvm  There should be mentioned on Readme that which exactly scopes are required.

[2022-08-01 13:17] exilvm commented on #292
Yep.

[2022-08-03 19:33] edavetisyan opened #309 "BUG Not updating hours of coding"
**Describe the bug**
Stopped showing coding time, it's now always 0

**Expected behavior**
show coding  time

[2022-08-04 09:13] modem7 opened #310 "BUG Not updating"
[code]

Waka.yml
[code]

[2022-08-04 09:23] modem7 commented on #310
Seems to work if I update with `SHOW_TOTAL_CODE_TIME: "False"`.

Possibly related to https://github.com/anmol098/waka-readme-stats/issues/309

[2022-08-04 21:34] thenithinbalaji commented on #310
It also works when WAKATIME API KEY is removed from with: in the yml file

[2022-08-04 21:44] thenithinbalaji opened #312 "Add||thenithinbalaji"
**Github Profile Link**
https://github.com/thenithinbalaji

**Your Name**
Nithin Balaji

[2022-08-04 21:53] thenithinbalaji opened #313 "FEAT - Discussion Tab"
Enable the GitHub discussions tab to ask doubts regarding setting things up

[2022-08-04 21:54] thenithinbalaji opened #314 "How to remove "This Week I Spent My Time On" Thing"
![image](https://user-images.githubusercontent.com/73932121/182959393-0bd0ae19-289b-42ab-bdde-3426b0ff69a0.png)

[2022-08-05 15:38] thenithinbalaji commented on #314
nvm, I figured it out.

[2022-08-05 15:38] #314 closed

[2022-08-06 15:22] thesanjithkumar opened #315 "Getting an Exception: Query failed to run by returning code of 401"
Getting this error even after following all the instructions correctly
![Screenshot (79)](https://user-images.githubusercontent.com/53137451/183255329-0937136c-1c06-4aa7-8a44-6c2d130d79e8.png)

[2022-08-07 11:47] thesanjithkumar commented on #315
The issue got fixed, I had some issues with wakatime api key.
After fixing it the issue got solved.

[2022-08-07 11:47] #315 closed

[2022-08-08 03:39] zhouconghao commented on #307
It seems sometimes the line https://github.com/anmol098/waka-readme-stats/issues/276#issuecomment-1085547788 fails to disable the timeline. Anyone encountered the same thing?

[2022-08-08 08:41] yanyongyu opened #316 "BUG: stats not generate due to 202 accepted"
**Describe the bug**

Wakatime's stats api may return response with 202 accepted status code. In this case, the response data is not completed and the action may raise a KeyError for missing data.

**To Reproduce**

- Run the action.
- Wakatime cannot return the result immediately (Processing).
- action receives 202 accepted response with incompleted data (with a `percent_calculated` field in data

[2022-08-08 20:44] modem7 commented on #310
Looks like the issue has come back, regardless of adding/removing variables.

[2022-08-09 15:14] ArslanAmeer opened #317 "BUG: Error persist when flag 'COMMIT_BY_ME" is set to True"
Workflow end up in success after so long with error inside its step.
The error appears when COMMIT_BY_ME flag is set to true.
I have tried with email access and ALL ACCESS to token provided to its workflow.
Maybe there are some conflicts causing of flags using together.

Error SS:
![firefox_6vbWnVmzJS](https://user-images.githubusercontent.com/34485088/183688382-852e3a18-cda2-4363-9449-1529661052a

[2022-08-11 14:32] laureanray commented on #310
I am also experiencing this one. Same with the above logs.

[2022-08-11 15:03] modem7 commented on #310
Unfortunately nothing my end, we'll probably need the dev to have a look as it seems even his page isn't updating

[2022-08-12 14:48] edavetisyan commented on #309
Closing this issue cz for it's a GitHub access token problem, I forget to regenerate a new one,

[2022-08-12 14:48] #309 closed

[2022-08-15 04:32] ngocnhan2003 commented on #317
GitHub disables getting email from API so we can use commit_email instead:

https://github.com/anmol098/waka-readme-stats/pull/319

[2022-08-15 08:43] ArslanAmeer commented on #317
@ngocnhan2003  so how long it will take to get this PR merges and resolve this issue once and for all ?

[2022-08-15 09:04] ngocnhan2003 commented on #317
@ArslanAmeer you can contact repo owner for merge or can use my forked repo: https://github.com/ngocnhan2003/waka-readme-stats

[2022-08-16 18:25] txtxj commented on #310
I have the same problem.

So I record the [json content](https://github.com/txtxj/txtxj/commit/2a5407273b313f89e537f069c1bef3110fd7be55?diff=split) that the script gets when the README update fails.

[code]

At the end of the json file, there is a message `Calculating stats for this user. Check back later.`

So it is the wakatime server that did not finish calculating the users' data for the day,

[2022-08-16 18:35] modem7 commented on #310
That's the problem, it doesn't get to the waka server stage. I've had the issues w/ the waka server being overloaded before, but in this particular case, it's definitely something else.

This is my full output:

[code]

[2022-08-16 18:59] modem7 commented on #264
Definitely +1 this as you can't change your hire status in github anymore as they've gotten rid of github jobs.

[2022-08-20 19:42] modem7 commented on #310
Adding a cron that works for multiple times a day seems to work

[2022-08-20 19:42] #310 closed

[2022-08-21 02:46] #297 closed

[2022-08-21 02:46] #302 closed

[2022-08-21 02:47] #292 closed

[2022-08-21 02:51] #313 closed

[2022-08-21 02:53] anmol098 commented on #316
FIXED in #306

[2022-08-21 02:53] #316 closed

[2022-08-21 02:53] #305 closed

[2022-08-21 02:54] #301 closed

[2022-08-22 10:50] ArslanAmeer commented on #317
@ngocnhan2003 repo owner tried but your branch had some conflicts. can you please take a look on that

[2022-08-23 02:16] ngocnhan2003 commented on #317
Goodmorning @ArslanAmeer

I have resolved conflicts for the PR!

[2022-08-24 00:03] JiaHuann opened #321 "Exception Occurred Query failed to run by returning code of 502."
# Bug Describe
**Exception Occurred Query failed to run by returning code of 502.**
What's going on here??
**I am not good at this,sorry for bother you.**
I have followed lots of tutorial。
[code]

# **Here is My configure**

1.I write the correct wakaAPI and GH_token and have the right scope.
![X23GE%CK9IR$ 74@ $ KC](https://user-images.githubusercontent.com/46595233/186286628-62aa63fa-b885-48af-8

[2022-08-27 13:38] tanjuntao opened #322 "BUG: KeyError: 'Vim Script'"
**Describe the bug**
'Vim Script' is not supported which causes a key error in `main.py`.

**Bug details**
In the 3rd step of the GitHub Action job, I got the following error,
[code]
which is obviously due to that 'Vim Script' language is not supported.

[2022-09-04 06:44] Searge opened #323 "BUG: `ZeroDivisionError: division by zero`"
**Describe the bug**

Hello.
I use mostly the same config as you:
- https://github.com/Searge/Searge/blob/main/.github/workflows/wakatime.yml
- https://github.com/amomorning/amomorning/blob/main/.github/workflows/waka-readme.yml

All tokens are working, but action return next:

[code]
https://github.com/Searge/Searge/runs/8173361035?check_suite_focus=true#step:3:27

**GitHub repository link**
- [A

[2022-09-06 04:05] WilliamDavidHarrison opened #324 "Add||WilliamDavidHarrison"
**Github Profile Link**
https://github.com/williamdavidharrison

**Your Name**
William Harrison

[2022-09-06 12:26] iamgojoof6eyes opened #325 "Not working for me"
**GitHub Profile Link**
[Profile link](https://github.com/iamgojoof6eyes/iamgojoof6eyes)

Please look at my profile it is not working for me

[2022-09-06 12:28] #325 closed

[2022-09-06 12:30] iamgojoof6eyes opened #326 "BUG"
GitHub Profile Link
[Profile link](https://github.com/iamgojoof6eyes/iamgojoof6eyes)

Please look at my profile it is not working for me. I have entered the secrets properly and on my email, they have sent a status report but my readme is not updating

[2022-09-07 09:49] iamgojoof6eyes commented on #326
Fixed

[2022-09-07 09:49] #326 closed

[2022-09-07 19:23] leroywagner opened #327 "BUG"
[Update Readme with Metrics](https://github.com/leroywagner/leroywagner/runs/8234409250?check_suite_focus=true#step:2:568)
Docker build failed with exit code 1

[2022-09-11 11:34] oHTGo commented on #317
Did you tick this checkbox? @ArslanAmeer
![image](https://user-images.githubusercontent.com/69106844/189525156-3bda2da9-22a9-4b80-b2f3-bfbcf14ae19d.png)

[2022-09-11 19:27] leroywagner commented on #327
hey?

[2022-09-12 06:01] ArslanAmeer commented on #317
@oHTGo it is unchecked

[2022-09-12 12:04] WilliamDavidHarrison commented on #324
@anmol098

[2022-09-14 03:17] rad182 opened #328 "Exception Occurred 'stats'"
**Describe the bug**
Exception Occurred 'stats'
[code]

**To Reproduce**
1. run the action

**Config**
[code]

[2022-09-15 00:50] #324 closed

[2022-09-17 01:59] Rgascoin opened #329 "BUG Error 404 not found"
**Describe the bug**
The github action return success but it's falling to finding my profile

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the github action

**Expected behavior**
Having the report on my profil

**Github repository link**
https://github.com/Rgascoin/Rgascoin/actions/runs/3071729033/jobs/4962667964

**Additional context**
[code]

[2022-09-17 02:03] Rgascoin commented on #329
Btw I have no problem with this one: https://github.com/athul/waka-readme
But I prefer you design

[2022-09-22 13:52] krakxn opened #330 "Manual actions -- Workflow"
The bot does not seem to commit any changes when I run actions manually. When I run the actions manually, there seems to be no commits by the bot even though the workflow runs successfully.

Is there any way for the bot to commit changes? I need to verify results of the updated `with` parameters in the `.yml` file to see how it looks.

Does `COMMIT_BY_ME: "True"` fix this?

Let me know how to do s

[2022-09-22 21:43] zhouconghao commented on #307
The  SHOW_LOC_CHART: False is not consistent. Sometimes the timeline still shows. I tried starting a new workflow, and the problem persists.

[2022-09-24 18:20] leroywagner commented on #327
answer me please

[2022-10-05 13:33] fbuireu commented on #329
Any updates on this?

[2022-10-06 01:49] zameel7 opened #334 "Add||zameel7"
**Github Profile Link**
http://github.com/zameel7

**Your Name**
Zameel Hassan

[2022-10-06 09:53] #207 closed

[2022-10-12 14:34] deloz commented on #322
got the same error

[2022-10-15 06:20] leroywagner opened #335 "BUG"
[code]

[2022-10-31 00:41] mkeleti opened #336 "BUG: Action Fails depending on programming language - Astro"
**Describe the bug**

Cannot process repositories that use Astro.build. .Astro files cause an error
<img width="497" alt="image" src="https://user-images.githubusercontent.com/16996410/198910273-441cac46-6c8d-42d9-9951-b4c072a6d041.png">

[2022-10-31 06:31] huamurui commented on #329
I meet the same error. And I notice that in your repository's workflow file there is   GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}.

The GITHUB_TOKEN is generated by the github-actions[bot].

and here, the username also become "github-actions[bot]". so...I'm wondering if the TOKEN has to be generated by your hands and only in this way the application can get the right username.

I haven't tried yet, but

[2022-10-31 10:58] huamurui commented on #329
I just made it worked by giving user generated TOKEN, you may need the link and information below if you want to fix it in this way.

https://github.com/anmol098/waka-readme-stats/issues/86

Choose classic to generate the TOKEN and select the workflow and user.
![图片](https://user-images.githubusercontent.com/60086749/198992608-8553a9c2-cdb5-40a2-b640-56085701aaaa.png)
![图片](https://user-images.git

[2022-11-07 17:44] dividedby-0 commented on #323
Getting the same exception:
[code]
However, switching the WakaTime timezone from Europe/Kyiv to Europe/Rome worked around the issue. AFAIK Kyiv timezone is GMT+2 while Rome timezone is GMT+1, maybe this could help?

[2022-11-10 19:48] VxxxxC commented on #336
Finally i am not alone...
i had this bug at the very beginning :'(

[2022-11-20 22:51] icepick4 opened #337 "BUG : Command '['/usr/bin/npm', 'bin', '--global']' returned non-zero exit status 1."
I don't know why but when I run my workflow, I got this error :

![Screenshot_1](https://user-images.githubusercontent.com/82316285/202930605-fa602123-058e-49d9-8b5a-af41dfc59a78.png)

Here is my .yml file :

[code]

I looked to see if other people had this problem, but I didn't find anything.
Maybe I missed something about the process.
Thank's for your help

[2022-11-21 09:35] aravindvnair99 opened #338 "Duplicate `COMMIT_USERNAME` and `COMMIT_EMAIL` in `action.yml`"
There should be only one definition, however, we have 2 of them after merging this PR:

- #317

https://github.com/anmol098/waka-readme-stats/blob/01e3a0ac19b76d0c5bdf5f33920fe12ffa5da4a8/action.yml#L100-L118

[2022-11-21 09:42] #338 closed

[2022-11-21 10:20] aravindvnair99 commented on #337
@icepick4 I'm having same issue since last 12 days as seen here - https://github.com/aravindvnair99/AravindVNair99/commits/main

So you're not the only one. Looks like something has changed in the dependencies.

As per the error message, something is going wrong when we try to save the bar graph here:

https://github.com/anmol098/waka-readme-stats/blob/34f9ec1070402a6502037d08d7feba204a5fae3e/make

[2022-11-21 10:52] icepick4 commented on #337
Thank's for your answer !
Okay okay, I thought I did something wrong I am relieved, then I will wait for an update.

[2022-11-22 20:01] unownone commented on #337
Hey @icepick4 @aravindvnair99 you guys can have a quick fix , in your config set SHOW_LOC_CHART="False" , this should make sure that loc.py isn't invoked not causing the problem .

[2022-11-22 20:21] aravindvnair99 commented on #337
@unownone Yes that's correct. I wanted to find the issue and the solution for the same however. Unfortunately, I haven't had time to look at what's causing the issue. If anyone wants to submit a PR, feel free.

[2022-11-22 20:33] icepick4 commented on #337
@unownone Thank you it works !

[2022-11-22 20:37] unownone commented on #337
@aravindvnair99 I think the issue most probably is coming from altair or the data that is coming from outside , as it breaks at a subprocess level , so you have to dig pretty down ig? I sat down for a while but gave up :,,,) , generating github personal access tokens are a pain .

Do you think there's a good way to test things ( like printing in a `test.md` for testing @anmol098 )

[2022-11-22 22:53] aravindvnair99 commented on #337
@unownone generally what I do to test is fork this repository, makes changes in my fork. Set my profile to use my fork to validate and test instead of pointing to this repository and once things look good, I create a pull request.

Unfortunately we don't have a CI system in this repository to test every incoming PR.